  <footer id="footer">
    <div class="wrapper">
      <strong class="logo"><a href="">Sold.com</a></strong>
      <div class="holder">
        <form action="" class="subscribe-form">
          <label for="email">Subscribe To Get Tips:</label>
          <div class="set">
            <input type="email" placeholder="your@emailaddress.com" id="email" class="txt">
            <input type="submit" value="Subscribe" class="btn">
          </div>
        </form>
        <nav class="nav-holder">
          <ul class="nav">
            <li><a href="">How it works</a></li>
            <li><a href="">Guides</a></li>
            <li><a href="">Articles</a></li>
            <li><a href="">Login</a></li>
          </ul>
          <a href="" class="btn">Sign Up</a>
        </nav>
      </div>
    </div>
    <div class="btmbar">
      <div class="wrapper">
        <p>&copy; 2018  SOLD.COM  –  All Rights Reserved</p>
        <ul>
          <li><a href="">Terms of Service</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="js/in-viewport.min.js"></script>
  <script src="js/tiny-slider.min.js"></script>
  <script src="js/input-mask.js"></script>
  <script src="js/headroom.min.js"></script>
  <script src="js/smooth-scroll.min.js"></script>
  <script src="js/custom-select.min.js"></script>
  <script src="js/range-slider.js"></script>
  <script src="js/main.js"></script>
</body>
</html>