<header id="header">
  <div class="wrapper">
    <strong class="logo"><a href="">Sold.com</a></strong>
    <nav class="nav-holder">
      <div class="inner">
        <ul class="nav">
          <li><a class="popup-opener" href="">How it works</a></li>
          <li class="js-active">
            <a href="">Guides</a>
            <div class="drop">
              <ul>
                <li><a href=""><img src="images/ico1.png" alt="" width="67" height="66"> How to Sell Via Auction</a></li>
                <li><a href=""><img src="images/ico2.png" alt="" width="67" height="66"> How To Sell Via Instant Cash Offer</a></li>
                <li><a href=""><img src="images/ico3.png" alt="" width="67" height="66"> How To Sell By Owner</a></li>
                <li><a href=""><img src="images/ico4.png" alt="" width="67" height="66"> How To Sell Via Real Estate Agent</a></li>
                <li><a href=""><img src="images/ico5.png" alt="" width="68" height="66"> How To Buy a House</a></li>
              </ul>
            </div>
          </li>
          <li>
            <a href="">Articles</a>
            <div class="drop">
                <ul>
                  <li><a href=""><img src="images/ico1.png" alt="" width="67" height="66"> How to Sell Via Auction</a></li>
                  <li><a href=""><img src="images/ico2.png" alt="" width="67" height="66"> How To Sell Via Instant Cash Offer</a></li>
                  <li><a href=""><img src="images/ico3.png" alt="" width="67" height="66"> How To Sell By Owner</a></li>
                  <li><a href=""><img src="images/ico4.png" alt="" width="67" height="66"> How To Sell Via Real Estate Agent</a></li>
                  <li><a href=""><img src="images/ico5.png" alt="" width="68" height="66"> How To Buy a House</a></li>
                </ul>
              </div>
          </li>
        </ul>
        <a href="" class="btn">Take Quiz</a>
        <span class="opener"></span>
      </div>
    </nav>
  </div>
  <span class="js-progressbar"></span>
</header>