<div class="howitworks-popup">
  <h4>How It Works:</h4>
  <ul>
    <li>
      <span class="img">
        <img src="images/img-popup1.png" alt="" width="228" height="256">
      </span>
      <h5>Quiz</h5>
      <p>Tell us about yourself<br> &amp; your location</p>
    </li>
    <li>
      <span class="img">
        <img src="images/img-popup2.png" alt="" width="228" height="256">
      </span>
      <h5>Data Science</h5>
      <p>We&apos;ll crunch<br> the numbers</p>
    </li>
    <li>
      <span class="img">
        <img src="images/img-popup3.png" alt="" width="227" height="256">
      </span>
      <h5>Evaluate Options</h5>
      <p>We provide you<br> with a personalized<br> recommendation</p>
    </li>
    <li>
      <span class="img">
        <img src="images/img-popup4.png" alt="" width="228" height="256">
      </span>
      <h5>Engage</h5>
      <p>We’ll customize an<br> action plan &amp; introduce<br> you to experts</p>
    </li>
  </ul>
  <a href="" class="btn">Start Your Quiz</a>
  <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
</div>