<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>San Clemente Cookie Dough CO.</title>
	<link media="all" rel="stylesheet" href="css/customselect.css">
	<link media="all" rel="stylesheet" href="css/styles.css">
</head>

<body>
	<header id="header">
		<div class="wrapper">
			<strong id="logo"><a href="">San Clemente Cookie Dough CO.</a></strong>
			<nav id="nav">
				<ul>
					<li><a class="scrollto" data-scroll href="#aboutus">About us</a></li>
					<li><a class="scrollto" data-scroll href="#funflavors">Products</a></li>
					<li><a class="scrollto" data-scroll href="#faqs">FAQ</a></li>
					<li><a class="scrollto" data-scroll href="#contactform">Contact Us</a></li>
				</ul>
				<span class="opener"></span>
			</nav>
		</div>
	</header>
	<section id="hero">
		<div class="wrapper">
			<div class="text">
				<h1>Organic Edible Cookie Dough!</h1>
				<p>Whether you are on the go and want a quick snack, or want to bake some cookies without having to deal with the mess, all of our cookie dough is designed to be enjoyed raw or baked!</p>
				<span class="btn-holder"><a class="scrollto btn" href="#funflavors">View our Flavors</a></span>
			</div>
		</div>
		<img class="bg" src="images/herobg.jpg" alt="" width="2000" height="1162">
	</section>
	<section id="knowdough" class="fly-in">
		<div class="wrapper">
			<div class="text">
				<h2>Know the Dough!</h2>
				<p>Introducing the first edible cookie dough that offers you and your family a great-tasting treat you can feel good about!</p>
				<p>Our entire line of yummy dough is certified organic, non-gmo, gluten free, allergen free and vegan! Offered in convenient on-the-go single serve containers, you can enjoy anywhere!</p>
				<p>Our line of plant-based edible cookie dough offers three fun flavors- <a href="">Chocolate Chip</a>, <a href="">Chocolate Brownie</a> and <a href="">Snickerdoodle</a>.</p>
			</div>
			<span id="dough"><img src="images/img5.png" alt="" width="1463" height="414"></span>
		</div>
		<img class="bg" src="images/bg-knowdough.jpg" alt="" width="2000" height="420">
	</section>
	<section id="knead" class="fly-in">
		<div class="text">
			<h2>Just What You Knead</h2>
			<ul class="list">
				<li><span class="icon-fridge"></span> Enjoy straight from the fridge or let warm to room temperature for an even more gooey and indulgent treat!</li>
				<li><span class="icon-24hrs"></span> Safe at room temp. for 24 hours so toss them in your backpack, purse, carry-on luggage and more to enjoy anytime!</li>
				<li><span class="icon-dessert"></span> Find us with the refrigerated desserts</li>
			</ul>
		</div>
		<span class="img"><img src="images/img1.jpg" alt="" width="1224" height="864"></span>
	</section>
	<div class="twoholders">
		<div class="wrapper">
			<section id="funflavors">
				<div class="heading">
					<h2>3 Fun Flavors!</h2>
					<p>NO unhealthy preservatives, stabilizers, colors or fillers .Organic, non-gmo, gluten free and allergen free- safe for everyone to enjoy!</p>
				</div>
				<div class="flavors fly-in">
					<div class="box">
						<span class="img">
							<img src="images/img2.png" alt="Chocolate Brownie" width="322" height="419">
						</span>
						<div class="flavor-content">
							<h3>Chocolate Brownie</h3>
							<h4>For Chocolate Lovers</h4>
							<ul class="badges">
								<li><img src="images/img-usdaorganic.png" alt="" width="72" height="70"></li>
								<li><img src="images/img-gf.png" alt="" width="72" height="70"></li>
								<li><img src="images/img-vegan.png" alt="" width="77" height="73"></li>
							</ul>
							<div class="flavor-footer">
								<span><a class="bakinginstructions" href="">Baking<br> Instructions</a></span>
								<span><a class="nutritionalinformation" href="brownie">Nutritional<br> Information</a></span>
							</div>
						</div>
					</div>
					<div class="box">
						<span class="img">
							<img src="images/img3.png" alt="Chocolate Chip" width="322" height="419">
						</span>
						<div class="flavor-content">
							<h3>Chocolate Chip</h3>
							<h4>Our Classic Flavor</h4>
							<ul class="badges">
								<li><img src="images/img-usdaorganic.png" alt="" width="72" height="70"></li>
								<li><img src="images/img-gf.png" alt="" width="72" height="70"></li>
								<li><img src="images/img-vegan.png" alt="" width="77" height="73"></li>
							</ul>
							<div class="flavor-footer">
								<span><a class="bakinginstructions" href="">Baking<br> Instructions</a></span>
								<span><a class="nutritionalinformation" href="chocchip">Nutritional<br> Information</a></span>
							</div>
						</div>
					</div>
					<div class="box">
						<span class="img">
							<img src="images/img4.png" alt="Snickerdoodle" width="324" height="419">
						</span>
						<div class="flavor-content">
							<h3>Snickerdoodle</h3>
							<h4>Your Childhood Favorite</h4>
							<ul class="badges">
								<li><img src="images/img-usdaorganic.png" alt="" width="72" height="70"></li>
								<li><img src="images/img-gf.png" alt="" width="72" height="70"></li>
								<li><img src="images/img-vegan.png" alt="" width="77" height="73"></li>
							</ul>
							<div class="flavor-footer">
								<span><a class="bakinginstructions" href="">Baking<br> Instructions</a></span>
								<span><a class="nutritionalinformation" href="snickerdoodle">Nutritional<br> Information</a></span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="aboutus" class="fly-in">
				<div class="text">
					<h2>About Us</h2>
					<p>We are ordinary people with the dream of creating amazing edible cookie dough for our family and yours. Eating our cookie dough is an awesome experience your entire family can enjoy.</p>
					<p>Our founder, Michael Dove, is a family man raised in San Diego, California and has made his family home in the beautiful town of San Clemente, California. All of Mike&apos;s recipes were created in his very own kitchen here on the cliffs of San Clemente.
						Originally created for his daughter, his dream expanded and became a dream of sharing his food with everyone.</p>
				</div>
				<div class="img">
					<img src="images/img-chef.png" alt="" width="630" height="926">
				</div>
			</section>
		</div>
	</div>
	<section id="faqs">
		<div class="wrapper">
			<h2>Frequently Asked Questions</h2>
			<ul id="faqs-tabs">
				<li><a class="js-active" href="#general">General</a></li>
				<li><a href="#ingredients">Ingredients</a></li>
				<li><a href="#foodservice">Foodservice/Commercial</a></li>
				<li><a href="#aboutusmisc">About Us/Misc</a></li>
			</ul>
			<div id="faqs-content">
				<div class="tab js-active" id="general">
					<div class="item">
						<span class="question">​What makes your products unique?</span>
						<div class="answer">
							<p>We are the only edible cookie dough that is safe to eat raw but can also be baked like a regular cookie dough completely gluten-free made in a gluten-free facility all organic, non-GMO and vegan lower in calories and sugar</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are you made in the USA?</span>
						<div class="answer">
							<p>All products are produced in Orange County, CA.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">How many Flavors do you have?</span>
						<div class="answer">
							<p>Initially we are offering 3 flavors to retailers but have many more we will be introducing in the future.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">I love single serve but would also like bigger packs. Will you be offering larger package options?</span>
						<div class="answer">
							<p>That is our plan- we have so many dreams and things we want to offer!</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Will you have new flavors soon?</span>
						<div class="answer">
							<p>​We have quite a few flavors ready to go and are always creating more- our founder is The Mad Hatter of cookie dough culinary creations!</p>
						</div>
					</div>
					<div class="item">
						<span class="question">How do I stay up-to-date on offerings and recipe ideas?</span>
						<div class="answer">
							<p>​We love to share our creations- follow us on Instagram <a href="https://www.instagram.com/sccookiedough" target="_blank">@sccookiedough</a>.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">I created a wonderful way to use your cookie dough and want to share it with others- can you help me?</span>
						<div class="answer">
							<p>We would love to share your creations (with credit going to you of course)! Email us recipes and any photography and be sure to include your Instagram info if you have it! <a href="mailto:info@sanclementecookiedough.com">info@sanclementecookiedough.com</a></p>
						</div>
					</div>
					<div class="item">
						<span class="question">My store doesn’t carry these and I want them to- now what?</span>
						<div class="answer">
							<p>​If you want it there we do too! If the store is an independent retailer ask the store manager. If it’s part of a chain (like Whole Foods or Sprouts) contact the corporate office and ask them- they love giving their customers what they want!</p>
						</div>
					</div>
				</div>
				<div class="tab" id="ingredients">
					<div class="item">
						<span class="question">Are your products all organic?</span>
						<div class="answer">
							<p>Yes, all products are certified organic.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are your products all Non-GMO?</span>
						<div class="answer">
							<p>Yes, all products are Non-GMO.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are your products all gluten free?</span>
						<div class="answer">
							<p>Yes, all products are gluten free.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are your products made in a gluten free facility?</span>
						<div class="answer">
							<p>Yes, we produce all products in our gluten-free facility.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are your products all vegan?</span>
						<div class="answer">
							<p>Yes, all products are vegan.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Do you use any preservatives?</span>
						<div class="answer">
							<p>We do not use anything artificial and use no preservatives</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are all your products clean-label?</span>
						<div class="answer">
							<p>Absolutely- every product is clean-label.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">What kind of oil do you use and why?</span>
						<div class="answer">
							<p>We use sunflower oil because it helps give our dough a buttery flavor while also being low in saturated fat.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">What flours do you use?</span>
						<div class="answer">
							<p>We use whole grain oat flour in our dough.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Do your products contain any allergens?</span>
						<div class="answer">
							<p>All products are dairy free, soy free, egg free, gluten and casein free.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are your products nut-free?</span>
						<div class="answer">
							<p>Yes.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Are your ingredients Kosher?</span>
						<div class="answer">
							<p>Yes, all ingredients are Kosher.</p>
						</div>
					</div>
				</div>
				<div class="tab" id="foodservice">
					<div class="item">
						<span class="question">Do you sell in bulk for commercial customers?</span>
						<div class="answer">
							<p>Absolutely- bulk sizing is available on all flavors with minimum orders.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">What if I want custom flavors or sizing?</span>
						<div class="answer">
							<p>We aim to please ( and we have our own plant! ) If you can dream it we will help make it reality.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Can I really eat these raw?</span>
						<div class="answer">
							<p>Yes!! Completely safe to eat raw.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">What are the baking directions?</span>
						<div class="answer">
							<p>We recommend 350 degrees for 7-8 minutes.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Do these need to stay refrigerated?</span>
						<div class="answer">
							<p>Yes, but it can safely be out for 24 hours so it can travel with you all day and be safely consumed at your leisure.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Can you cook your product in a microwave?</span>
						<div class="answer">
							<p>We do not recommend microwaving, for best results an oven should be used.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Can I use your product as a pie crust?</span>
						<div class="answer">
							<p>Yes! Our dough works great as a pie crust raw and baked. For baking we recommend 350 degrees for 7-8 minutes.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Do I have to let your dough thaw at room temperature before baking?</span>
						<div class="answer">
							<p>No- they can be baked directly from the fridge however to achieve optimal shape baking from room temperate is recommended.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">What are some of the different uses for your dough other than baking cookies?</span>
						<div class="answer">
							<p>So many ways! Try using our dough in shakes, cake filling, ice cream topper, ice cream cookie sandwiches, pie and cheesecake crust- and when you find new fun ideas please share them with us!</p>
						</div>
					</div>
				</div>
				<div class="tab" id="aboutusmisc">
					<div class="item">
						<span class="question">Can I ship this product to a friend without refrigeration?</span>
						<div class="answer">
							<p>This is not recommended- freight trucks vary greatly in temperature. To ensure safe transport we recommend cooler packs.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">How did this product come about?</span>
						<div class="answer">
							<p>Our founder Michael created this product line years ago to help his daughter, who has a medical condition, enjoy cookies and cookie dough along with the rest of their family.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">How long did it take to develop the cookie dough recipes?</span>
						<div class="answer">
							<p>These recipes have been perfected over years thanks to our founder Michael’s dedication to creating quality products.</p>
						</div>
					</div>
					<div class="item">
						<span class="question">Why does the product have San Clemente in the name?</span>
						<div class="answer">
							<p>Michael chose to include San Clemente in the name as a tribute to his beloved hometown.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer id="footer">
		<div class="wrapper holder">
			<transition name="fade">
				<form action="" id="contactform">
					<h3>{{ message }}</h3>
					<fieldset class="set" v-if="showForm">
						<div class="row">
							<input type="text" class="txt" placeholder="Your Name" id="nameinput" name="name" v-model="formData.name">
						</div>
						<div class="row">
							<input type="email" class="txt" placeholder="Your Email" id="emailinput" name="email" v-model="formData.email">
						</div>
						<div class="row">
							<select class="select" name="role" id="typeinput">
								<option value="I&CloseCurlyQuote;m a Buyer / Wholesaler">I&CloseCurlyQuote;m a Buyer / Wholesaler</option>
								<option value="I&CloseCurlyQuote;m a Customer">I&CloseCurlyQuote;m a Customer</option>
								<option value="I&CloseCurlyQuote;m a Blogger">I&CloseCurlyQuote;m a Blogger</option>
							</select>
						</div>
						<div class="row">
							<textarea class="txt" rows="10" cols="80" id="messageinput" placeholder="Write your message" name="message" v-model="formData.message"></textarea>
						</div>
						<button type="button" class="btn" @click="onSubmit">Send Message</button>
					</fieldset>
					<fieldset class="set">
						<div class="row" v-if="showForm === false">
							<h3>We have received your information and will contact you soon.</h3>
						</div>
					</fieldset>

				</form>
			</transition>
			<div class="instafeed-box">
				<h3>Follow Us!</h3>
				<div id="instafeed"></div>
				<p><a rel="nofollow" href="https://www.instagram.com/sccookiedough" target="_blank">@sccookiedough</a></p>
			</div>
		</div>
		<div class="panel">
			<div class="wrapper">
				<strong class="logo"><a href="">San Clemente Cookie Dough CO.</a></strong>
				<ul class="badges">
					<li><img src="images/img-usdaorganic-footer.png" alt="" width="71" height="70"></li>
					<li><img src="images/img-gf-footer.png" alt="" width="71" height="70"></li>
					<li><img src="images/img-vegan-footer.png" alt="" width="77" height="73"></li>
				</ul>
				<ul class="nav">
					<li><a class="scrollto" data-scroll href="#aboutus">About us</a></li>
					<li><a class="scrollto" data-scroll href="#funflavors">Products</a></li>
					<li><a class="scrollto" data-scroll href="#faqs">FAQ</a></li>
					<li><a class="scrollto" data-scroll href="#contactform">Contact Us</a></li>
				</ul>
				<p>All of our cookie dough is certified organic, non-gmo, gluten free and vegan!</p>
			</div>
		</div>
		<div class="btm-bar">
			<div class="wrapper">
				<p>&copy; 2018  San Clemente Cookie Dough Co. – All Rights Reserved.</p>
				<dl>
					<dt>Site by</dt>
					<dd><a target="_blank" href="https://www.brightoak.com/">Bright Oak</a></dd>
				</dl>
			</div>
		</div>
	</footer>
	<div class="popups-holder">
		<div class="bakinginstructions-popup">
			<div class="heading">
				<h4>Baking Instructions</h4>
				<span class="close"></span>
			</div>
			<div class="content">
				<ul>
					<li>1. Remove cookie dough from refrigerator and allow to come to room temperature.</li>
					<li>2. Spoon dough on greased cookie sheet and bake at 350 degrees for 7-8 minutes.</li>
					<li>3. Enjoy!</li>
				</ul>
			</div>
		</div>
		<div class="nutritionalinformation-popup" id="snickerdoodle">
			<div class="heading">
				<h4>Nutritional Information</h4>
				<span class="close"></span>
			</div>
			<div class="content">
				<dl>
					<dt>Ingredients:</dt>
					<dd>*Whole grain oat flour, *cane sugar, filtered water, *brown rice syrup, *sunflower oil, *cinnamon powder, baking soda, *vanilla extract (vanilla bean extractives, alcohol and water), sea salt<br> *Certified organic by A Bee Organic</dd>
				</dl>
				<span class="img"><img src="images/img-snickerdoodle.png" alt="" width="761" height="203"></span>
			</div>
		</div>
		<div class="nutritionalinformation-popup" id="brownie">
			<div class="heading">
				<h4>Nutritional Information</h4>
				<span class="close"></span>
			</div>
			<div class="content">
				<dl>
					<dt>Ingredients:</dt>
					<dd>*Whole grain oat flour, *cocoa powder, *cane sugar, *sunflower oil, filtered water, *brown rice syrup, baking soda, sea salt</dd>
				</dl>
				<span class="img"><img src="images/img-brownie.png" alt="" width="762" height="203"></span>
			</div>
		</div>
		<div class="nutritionalinformation-popup" id="chocchip">
			<div class="heading">
				<h4>Nutritional Information</h4>
				<span class="close"></span>
			</div>
			<div class="content">
				<dl>
					<dt>Ingredients:</dt>
					<dd>*Whole grain oat flour, *chocolate chips (cocoa liquor, sugar, cocoa butter, cocoa powder), *cane sugar,<br> *Brown rice syrup, *sunflower oil, filtered water, *vanilla extract (vanilla bean, alcohol, water), baking soda, sea salt</dd>
				</dl>
				<span class="img"><img src="images/img-chocchip.png" alt="" width="762" height="202"></span>
			</div>
		</div>
	</div>
	<script src="js/custom-select.min.js"></script>
	<script src="js/instafeed.min.js"></script>
	<script src="js/smooth-scroll.min.js"></script>
	<script src="js/basicLightbox.min.js"></script>
	<script src="js/in-viewport.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
