@media screen and (max-width:1700px) {
	.hero-inner{
		&.gavel{
			&:before{
				left: auto;
				right: 64%;
			}
		}
	}
}
@media screen and (max-width:1640px) {
	.points3{
		padding-top: 50px;
		.holder{
			background: none;
			opacity: 1 !important;
			height: auto;
			padding-bottom: 50px;
		}
		.text-block{
			position: static !important;
			text-align: center;
			width: 600px !important;
			max-width: 100%;
			margin: 0 auto 50px;
			opacity: 1 !important;
		}
		.vision{
			text-align: center;
		}
	}
}
@media screen and (max-width:1600px) {
	.subscribe-form{
		margin-right: 20px;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		label{
			padding-bottom: 20px;
		}
	}
	#footer{
		.logo{
			float: none;
			display: block;
			margin-bottom: 15px;
		}
		.nav-holder{
			float: none;
			padding-bottom: 10px;
		}
		.holder{
			float: none;
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		.wrapper{
			padding-bottom: 20px;
		}
	}
}
@media screen and (max-width:1250px) {
	.guide-overview .hero .person{
		display: none;
	}
}
@media screen and (max-width:1110px) {
	.nextsteps{
		li{
			&:after{
				width: 75px;
				right: -35px;
			}
		}
	}
}
@media screen and (max-width:1000px) {
	.hero-inner{
		&:before{
			display: none !important;
		}
	}
	#footer{
		.logo{
			margin: 0 auto 25px;
		}
		.holder{
			padding: 0;
			flex-direction: column;
			align-items: center;
		}
		.subscribe-form{
			align-items: center;
			margin: 0 0 20px;
		}
	}
}
@media screen and (max-width:900px) {
	#header{
		.wrapper{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.fouroptions{
		.box{
			width: 48%;
		}
	}
	.media-partners{
		padding-bottom: 5px;
		ul{
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			align-content: center;
		}
		li{
			padding: 0 33px 25px;
			margin: 0;
			box-sizing: border-box;
			width: 20%;
		}
	}
	.guides-list{
		strong{
			font-size: 18px;
			line-height: 1.2;
			display: block;
			br{
				display: none;
			}
		}
	}
	.howitworks-popup{
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
	}
	.howitworks-content{
		ul{
			margin-left: -15px;
			margin-right: -15px;
			flex-wrap: wrap;
			margin-bottom: 30px;
		}
		li{
			padding: 0 15px;
			width: calc(100% / 2);
			&:after{
				display: none;
			}
		}
		.img{
			max-width: 228px;
			margin: 0 auto 20px;
		}
	}
	.nextsteps{
		margin-bottom: 100px;
		.ico{
			margin-bottom: 20px;
		}
		ul{
			flex-direction: column;
			align-items: center;
		}
		li{
			padding-bottom: 100px;
			width: 181px;
			padding-left: 0;
			padding-right: 0;
			&:after{
				top: auto;
				right: 56px;
				bottom:55px;
				transform: rotate(90deg);
			}
			&:last-child{
				padding-bottom: 0;
			}
		}
	}
	.selling-reasons{
		margin-bottom: 12px;
	}
	.quiz-step{
		padding-left: 20px;
		padding-right: 20px;
	}
	.quiz-content{
		.boxes-holder{
			flex-wrap: wrap;
			margin: 0 -5px;
		}
		.box{
			margin-left: 5px;
			margin-right: 5px;
			width: calc(100% / 2 - 10px);
		}
	}
}
@media screen and (max-height:700px) {
	.howitworks-popup{
		position: absolute !important;
		top: 20px !important;
		left: 20px !important;
		h4{
			margin-bottom: 20px;
		}
	}
	.howitworks-content{
		h4{
			margin-bottom: 20px;
		}
	}
}
@media screen and (min-width:769px) {
	.animated{
		position: relative;
		opacity: 0;
	}
	.animation{
		animation-duration: .8s;
		animation-timing-function: ease-in-out;
		animation-delay:0;
		animation-fill-mode:forwards;
	}
	.js-flyin{
		&.hero{
			.text{
				@extend .animated;
				bottom: -60px;
				@include animation($delay:.8s);
			}
		}
		&.fouroptions{
			.box{
				@extend .animated;
			}
		}
		&.features-list{
			li{
				@extend .animated;
			}
		}
		&.endcta,
		&.about-section,
		&.aboutus{
			.text{
				@extend .animated;
			}
			.img{
				@extend .animated;
			}
		}
		&.trendingarticles{
			.box{
				@extend .animated;
			}
		}
		&.guides-list{
			li{
				@extend .animated;
			}
		}
		&.quotes-block{
			@extend .animated;
		}
		&.contact-us{
			.contact-form{
				@extend .animated;
			}
		}
		&.points3{
			.text-block,
			.holder{
				@extend .animated;
			}
		}
		&.contactus{
			.data,
			.map{
				@extend .animated;
			}
		}
		&.ourteam{
			li{
				@extend .animated;
			}
		}

	}
	.guide-section{
		.item.js-flyin{
			.text,
			.img{
				@extend .animated;
			}
		}
	}
	.guide-overview{
		.hero.js-flyin{
			@extend .animated;
			.person,
			.hero-holder,
			.hero-i{
				@extend .animated;
			}
			.text{
				bottom: auto !important;
				opacity: 1 !important;
			}
		}
	}
	.js-inview{
		&.hero{
			.text{
				opacity:1;
				bottom: 0;
			}
		}
		&.fouroptions{
			.box{
				@extend .animation;
				&:nth-child(1),
				&:nth-child(2){
					animation-name: fadeInLeft;
				}
				&:nth-child(3),
				&:nth-child(4){
					animation-name: fadeInRight;
				}
				&:nth-child(1),
				&:nth-child(4){
					animation-delay:.8s;
				}
			}
		}
		&.about-section,
		&.aboutus{
			.text{
				@extend .animation;
				animation-name: fadeInLeft;
			}
			.img{
				@extend .animation;
				animation-name: fadeInRight;
			}
		}
		&.endcta{
			.text{
				@extend .animation;
				animation-name: fadeInRight;
			}
			.img{
				@extend .animation;
				animation-name: fadeInLeft;
			}
		}
		&.trendingarticles{
			.box{
				@extend .animation;
				animation-name: fadeIn;
				@for $i from 2 through 10{
					&:nth-child(#{$i}){
						animation-delay:.3s * $i;
					}
				}
			}
		}
		&.features-list{
			li{
				@extend .animation;
				animation-name: fadeIn;
				@for $i from 2 through 10{
					&:nth-child(#{$i}){
						animation-delay:.3s * $i;
					}
				}
			}
		}
		&.guides-list{
			li{
				@extend .animation;
				animation-name: fadeInDown;
				@for $i from 2 through 10{
					&:nth-child(#{$i}){
						animation-delay:.2s * $i;
					}
				}
			}
		}
		&.ourteam{
			li{
				@extend .animation;
				animation-name: fadeIn;
				@for $i from 1 through 50{
					&:nth-child(#{$i}){
						animation-delay:.1s * $i;
					}
				}
			}
		}
		&.quotes-block{
			@extend .animation;
			animation-name: fadeInDown;
		}
		&.contact-us{
			.contact-form{
				@extend .animation;
				animation-name: fadeInDown;
			}
		}
		&.points3{
			.text-block,
			.holder{
				@extend .animation;
				animation-name: fadeIn;
			}
			.text-block{
				@for $i from 1 through 4{
					&:nth-child(#{$i}){
						animation-delay:.4s * $i;
					}
				}
			}
		}
		&.contactus{
			.data,
			.map{
				@extend .animation;
				animation-name: fadeInLeft;
			}
			.data{
				animation-name: fadeInRight;
			}
		}
	}
	.guide-overview{
		.hero.js-inview{
			@extend .animation;
			animation-name: fadeIn;
			.person,
			.hero-holder,
			.hero-i{
				@extend .animation;
				animation-name: fadeIn;
				animation-delay:.2s;
			}
			.hero-holder{
				animation-delay:.4s;
				animation-name: fadeInDown;
			}
			.person{
				animation-delay:1s;
				animation-name: fadeInLeft;
			}
		}
	}
	.guide-section{
		.item.js-inview{
			.text,
			.img{
				@extend .animation;
				animation-name: fadeInLeft;
			}
			.img{
				animation-name: fadeInRight;
			}
			&.item-r{
				.img{
					animation-name: fadeInLeft;
				}
				.text{
					animation-name: fadeInRight;
				}
			}
		}
	}
}
@media screen and (max-width:768px) {
	.about-section{
		.text{
			width: 100%;
		}
		.img{
			display: none;
		}
	}
	#container{
		background: none;
		padding-bottom: 30px;
	}
	.blogpost-page,
	body,
	body.page404,
	body.home{
		background: #fff url(../images/homepage-bg-mobile.png) no-repeat 50% 200px;
	}
	#header{
		.wrapper{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.nav-holder{
		.nav,
		.btn{
			display: none;
		}
		.opener{
			display: block;
		}
	}
	.opened.nav-holder{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #000;
		z-index: 99;
		height: 100vh;
		.headroom--top &{
			margin-top: -3px;
		}
		.headroom--unpinned &{
			@include animation;
			top: 78px;
		}
		.inner{
			position: absolute;
			left: 20px;
			top: 20px;
			right: 20px;
			bottom: 20px;
			background: #fff;
			border-radius: 10px;
			z-index: 100;
			padding: 50px 0 0;
		}
		.nav{
			display: flex;
			flex-direction: column;
			overflow: auto;
			text-transform: none;
			font-weight: 400;
			font-size: 16px;
			float: none;
			padding:0 20px;
			max-height: calc(100% - 74px);
			li{
				float: none;
				margin: 0 0 16px;
				&.js-dropdown > a{
					text-transform: uppercase;
					&:before{
						display: none;
					}
				}
				&:not(.js-dropdown){
					order:5;
				}
				&:hover{
					.drop{
						display: none;
					}
				}
			}
			.drop{
				position: static;
				padding: 0;
				border-top: 2px solid #ebeaf4;
				border-bottom: 1px solid #ebeaf4;
				margin-top: 12px;
				img{
					width: 40px;
					height: 40px;
				}
				&:after{
					display: none;
				}
				ul{
					background: none;
					box-shadow: none;
					width: auto;
					padding-top: 20px;
				}
				li{
					margin-bottom: 16px;
				}
				a{
					padding: 0;
					&:hover{
						background: none;
					}
				}
			}
			.js-active:hover,
			.js-active{
				.drop{
					display: block;
				}
			}
		}
		.opener{
			position: absolute;
			right: 20px;
			top: 20px;
			background:url(../images/ico-close.png) no-repeat;
			width:20px;
			height:20px;
			display: block;
			margin: 0;
		}
		.btn{
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			box-sizing: border-box;
			border: none;
			background: #00dbcf;
			border-radius: 0 0 10px 10px;
			padding: 27px 10px;
			text-align: center;
			color: #fff;
			font-size: 18px;
			&:hover{
				background: #00dbcf;
			}
		}
	}
	.fouroptions{
		margin-bottom: 30px;
		.box{
			margin-bottom: 15px;
		}
	}
	.aboutus{
		flex-direction: column;
		margin-bottom: 20px;
		& > .text{
			width: auto;
			padding-top: 0;
		}
		& > .img{
			display: none;
		}
	}
	.trendingarticles{
		margin-bottom: 40px;
		.box{
			width: 48.5%;
			margin-bottom: 20px;
		}
	}
	.hero{
		padding-bottom: 45px;
		h1{
			font-size: 55px;
		}
		h2{
			font-size: 40px;
		}
	}
	.blogpost-page .hero h1{
		font-size: 55px;
	}
	.hero-inner{
		padding-top: 0;
		height: auto;
		&:after{
			display: none;
		}
	}
	.guides{
		margin-bottom: 30px;
	}
	.guides-list{
		justify-content: center;
		li{
			width: 50%;
			margin-bottom: 40px;
		}
		strong{
			font-size: 24px;
			br{
				display: block;
			}
		}
		img{
			width: 80%;
			margin: 0 auto 14px;
		}
	}
	.about-section{
		margin-bottom: 70px;
	}
	.features{
		padding-bottom: 50px;
		h3{
			margin-bottom: 30px;
		}
		.features-list{
			columns: 1;
		}
		li{
			padding-bottom: 15px;
		}
	}
	#container{
		background:url(../images/bg-page-b-mobile.png) repeat-x 50% 99%;
	}
	.guide-section{
		background: none;
		padding-bottom: 0;
		& + .guide-section{
			margin-top: 0;
		}
		&-l{
			margin-bottom: 70px;
		}
		.item{
			flex-direction: column-reverse !important;
			margin-bottom:50px;
			.text,
			.img{
				width: 100%;
				max-width: 100%;
			}
			.img{
				margin-bottom: 50px;
				text-align: center;
				img{
					display: inline-block;
				}
			}
		}
	}
	.team-list{
		li{
			width: calc(100% / 3);
			padding-bottom: 30px;
		}
	}
	.contactus,
	.ourteam{
		margin-bottom: 50px;
	}
	.guide-content{
		padding-left: 20px;
		padding-right: 20px;
		.wrapper{
			max-width: 100%;
			padding: 0 0 80px;
		}
		.img-holder{
			margin-left: 0;
			margin-right: 0;
		}
		.tip{
			margin-left: 0;
			margin-right: 0;
		}
		.footer{
			margin-left: 0;
			margin-right: 0;
			.btns{
				display: flex;
				justify-content: space-between;
				.btn{
					width: 48%;
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
	}
	.endcta{
		flex-direction: column;
		margin-bottom: 70px;
		.img{
			width: 100%;
			img{
				margin: 0 auto;
			}
		}
		.text{
			width: 100%;
			text-align: center;
		}
	}
	.guide-content{
		.quote{
			margin-left: 0;
			margin-right: 0;
			margin-top: 50px;
		}
	}
	.page404{
		background-position: 50% 200px;
		background-color: #fff;
		.hero{
			h1{
				width: 303px;
				height: 114px;
				background-size: cover;
			}
		}
	}
	.blogpage{
		background-position: 50% 200px;
	}
	.seller-section{
		position: relative;
		border-radius: 30px;
		.tab{
			flex-wrap: wrap;
			.text-holder{
				padding-left: 10px;
				padding-right: 10px;
				width: 100%;
				padding-bottom: 15px;
			}
			&.overview-tab{
				padding-bottom: 25px;
				display: block;
				.match{
					width: 100%;
					margin-bottom: 20px;
				}
				.list-holder{
					width: 100%;
					display: block;
					text-align: center;
					margin-bottom: 20px;
					font-size: 22px;
					li{
						display: inline-block;
						padding: 0 10px;
					}
					.fa{
						margin-right: 7px;
					}
				}
			}
		}
		.content{
			height: 0;
			overflow: hidden;
			padding: 0;
			@include animation;
			.text-block{
				display: none;
			}
		}
		.header{
			background: none;
			padding: 0;
			.tabs{
				& + .btn-holder{
					margin-left: 0;
				}
			}
			.btn{
				padding: 23px 48px;
				border-radius: 50px;
				display: none;
			}
			h2{
				float: none;
				background: rgb(167,182,194);
				background: -moz-linear-gradient(left, rgba(167,182,194,1) 0%, rgba(161,177,190,1) 20%, rgba(128,151,167,1) 78%, rgba(121,145,162,1) 100%);
				background: -webkit-linear-gradient(left, rgba(167,182,194,1) 0%,rgba(161,177,190,1) 20%,rgba(128,151,167,1) 78%,rgba(121,145,162,1) 100%);
				background: linear-gradient(to right, rgba(167,182,194,1) 0%,rgba(161,177,190,1) 20%,rgba(128,151,167,1) 78%,rgba(121,145,162,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7b6c2', endColorstr='#7991a2',GradientType=1 );
				border-radius: 30px;
				padding: 24px 30px 20px;
				cursor: pointer;
				i{
					transform: scale(1.3);
				}
				position: relative;
				&:after{
					content: '+';
					position: absolute;
					right: 20px;
					top: 23px;
				}
				&:before{
					content: 'Best Match';
					position: absolute;
					right: 40px;
					top: 23px;
					text-transform: uppercase;
					font-size: 20px;
					font-weight: 500;
					width: 100px;
					text-align: center;
				}
			}
			.holder{
				float: none;
				@include animation;
				height: 0;
				overflow: hidden;
			}
			.tabs{
				padding: 0;
				float: none;
				margin-bottom: 0;
				border-bottom: 1px solid #e4e9f1;
				display: flex;
				text-align: center;
				font-size: 18px;
				li{
					width: calc(100% / 3);
				}
				a{
					color: #313362;
					display: block;
					padding-top: 20px;
					padding-bottom: 20px;
				}
				.bar{
					bottom: 0;
					width: 33.33%;
				}
			}
		}
		&-first{
			.header{
				h2{
					background: rgb(96,71,148);
					background: -moz-linear-gradient(left, rgba(96,71,148,1) 0%, rgba(84,66,136,1) 30%, rgba(64,58,114,1) 66%, rgba(62,57,112,1) 66%, rgba(55,54,105,1) 80%, rgba(50,51,99,1) 100%);
					background: -webkit-linear-gradient(left, rgba(96,71,148,1) 0%,rgba(84,66,136,1) 30%,rgba(64,58,114,1) 66%,rgba(62,57,112,1) 66%,rgba(55,54,105,1) 80%,rgba(50,51,99,1) 100%);
					background: linear-gradient(to right, rgba(96,71,148,1) 0%,rgba(84,66,136,1) 30%,rgba(64,58,114,1) 66%,rgba(62,57,112,1) 66%,rgba(55,54,105,1) 80%,rgba(50,51,99,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#604794', endColorstr='#323363',GradientType=1 );
				}
			}
		}
		.btn-holder{
			position: absolute;
			bottom: 20px;
			left: 0;
			width: 100%;
			text-align: center;
			z-index:10;
		}
		&.js-opened{
			.holder{
				height: 61px;
			}
			.content{
				padding-top: 30px;
				padding-bottom: 90px;
				height: auto;
			}
			.header{
				.btn{
					display: inline-block;
				}
				h2{
					border-radius: 30px 30px 0 0;
					&:after{
						content: '-';
					}
				}
			}
		}
		&:nth-child(2){
			.header{
				h2{
					&:before{
						content: 'Good Match';
					}
				}
			}
		}
		&:nth-child(3){
			.header{
				h2{
					&:before{
						content: 'Ok Match';
					}
				}
			}
		}
		&:nth-child(4){
			.header{
				h2{
					&:before{
						content: 'Low Match';
					}
				}
			}
		}
	}
}
@media screen and (max-width:600px) {
	#header{
		padding-bottom: 45px;
	}
	.trendingarticles{
		h3{
			text-align: center;
			margin-bottom: 25px;
			font-size: 26px;
		}
		.box{
			width:100% !important;
			margin: 0 auto 30px;
			border-radius: 20px;
			padding: 14px 14px 60px;
			box-shadow: 0 0 8px #ccc;
			display: flex;
			align-content: stretch;
			margin-bottom: 15px;
			position: relative;
			.img{
				width: 40%;
				height: auto !important;
				padding: 5px !important;
				display: flex;
				min-height: 140px;
				img{
					height: auto !important;
				}
			}
			.text{
				padding: 0 0 0 12px;
				width: 60%;
				h4{
					font-weight: 400;
					-webkit-line-clamp: 4;
					line-height:24px;
					max-height:96px;
					font-size: 18px;
					a{
						display: inline-block;
						padding: 4px 0;
					}
				}
			}
		}
		.meta{
			position: absolute;
			bottom: 10px;
			left: 0;
			box-sizing: border-box;
			padding:0;
			padding-left: calc(40% + 12px);
			min-height: 80px;
			line-height: 1.5;
			width: 100%;
			.photo{
				width: 40%;
				margin: 0;
				position: absolute;
				left: 0;
				padding-left: 15px;
				box-sizing: border-box;
				top: 0;
				text-align: center;
				img{
					display: inline-block;
				}
			}
			.author{
				float: none;
				overflow: hidden;
			}
			.date{
				float: none;
				display: block;
				margin-top: 10px;
			}
		}
		.tags{
			position: absolute;
			bottom: 15px;
			left: 0;
			padding-left: calc(40% + 12px);
			white-space: nowrap;
			li{
				padding-left: 5px;
				&:after{
					left: -1px;
					top: 2px;
				}
			}
		}
	}
	#footer{
		.nav-holder{
			display: none;
		}
		.logo{
			width: 196px;
			height: 70px;

		}
		.subscribe-form{
			width: 100%;
			margin-bottom: 10px;
			 label{
				 font-size: 16px;
				 margin: 0 0 8px;
				 padding: 0;
			 }
			 .set{
				 width: 100%;
			 }
			 .txt{
				 box-sizing: border-box;
				 width: 70%;
			 }
			 .btn{
				 width: 30%;
			 }
		}
	}
	.btmbar{
		text-align: center;
		ul,
		p{
			float: none;
		}
	}
	.media-partners{
		li{
			width: 33.3%;
		}
	}
	.endcta-block{
		padding: 20px;
	}
	.blogpage{
		background-position: 50% 100px;
		.hero-inner{
			margin-bottom: 30px;
			height: auto;
			padding-top: 50px;
		}
	}
	.filters{
		padding-bottom:30px;
	}
	.seller-section{
		border-radius: 20px !important;
		margin-bottom: 20px;
		.header{
			h2{
				border-radius: 20px !important;
				font-size: 22px;
				padding: 22px 18px 18px;
				i{
					transform: none;
					margin-top: -5px !important;
					margin-right: 10px;
				}
				&:before{
					font-size: 18px;
					top: 15px;
					right: 40px;
					width: 80px;
				}
				&:after{
					font-size: 30px;
					line-height: 0;
					top: 33px;
				}
			}
			.tabs{
				font-size: 14px;
				a{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
		&.js-opened .header h2{
			border-radius: 20px 20px 0 0 !important;
		}
	}
	.seller-profile{
		padding-left: 20px;
		padding-right: 20px;
		.icos{
			flex-wrap: wrap;
			justify-content: center
		}
	}
}
@media screen and (min-width:501px) {
	.quiz-content{
		.box{
			&.js-active{
				span[class^='ico']{
					-webkit-animation-duration: 1s;
					animation-duration: .7s;
					-webkit-animation-fill-mode: both;
					animation-fill-mode: both;
					@extend .bounce;
				}
			}
		}
	}
	@keyframes bounce {
		from,
		20%,
		53%,
		80%,
		to {
			-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}
	
		40%,
		43% {
			-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			-webkit-transform: translate3d(0, -30px, 0);
			transform: translate3d(0, -30px, 0);
		}
	
		70% {
			-webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			-webkit-transform: translate3d(0, -15px, 0);
			transform: translate3d(0, -15px, 0);
		}
	
		90% {
			-webkit-transform: translate3d(0, -4px, 0);
			transform: translate3d(0, -4px, 0);
		}
	}
	
	.bounce {
		-webkit-animation-name: bounce;
		animation-name: bounce;
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
	}
}
@media screen and (max-width:500px) {
	body.home,
	body{
		background-position: 50% 88px;
	}
	#header{
		padding-top: 12px;
		padding-bottom: 60px;
	}
	.btn{
		letter-spacing: 1px;
		box-sizing: border-box;
		max-width: 285px;
		width: 100%;
		margin: 0 auto;
		line-height: 20px;
		padding: 20px 15px;
		text-align: center;
	}
	.hero{
		padding-bottom: 60px;
		h1{
			font-size: 34px;
		}
		h2{
			font-size: 22px;
		}
		p{
			font-size: 16px;
			margin-bottom: 40px;
		}
	}
	.blogpost-page .hero h1{
		font-size: 34px;
	}
	.wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
	.fouroptions{
		h2{
			font-size: 24px;
			margin-bottom: 32px;
		}
		.box{
			width: 48%;
			margin-bottom:13px;
			overflow: hidden;
			padding-left: 5px;
			padding-right: 5px;
			.img{
				margin-top: -20px;
				margin-bottom:-15px;
			}
			.h3{
				font-size: 22px;
			}
			.p{
				display: none;
			}
		}
	}
	.aboutus{
		text-align: center;
		h3{
			font-size: 26px;
			text-align: left;
		}
		.text{
			font-size: 16px;
			line-height: 24px;
			padding-right: 0;
		}
		p{
			text-align: left;
		}
	}
	.guides{
		margin: 0;
		h3{
			text-align: center;
			margin-bottom: 25px;
			font-size: 21px;
			max-width: 180px;
			margin: 0 auto 30px;
		}
	}
	.guides-list{
		strong{
			font-size: 20px;
		}
	}
	.media-partners{
		padding-top: 0;
		ul{
			margin: 0 -15px;
		}
		li{
			width: 25%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.subscribe-form{
		.btn,
		.txt{
			height: 50px;
		}
		.btn{
			font-size: 13px;
			letter-spacing: 0;
		}
	}
	.quotes-block{
		.quote{
			&:before{
				margin-bottom: 15px;
			}
		}
	}
	#footer{
		.subscribe-form{
			margin-bottom: 0;
		}
		.wrapper{
			padding-top: 35px;
		}
		.logo{
			width: 126px;
			height: 45px;
			margin-bottom: 18px;
		}
	}
	.nav-holder{
		padding-top: 0;
	}
	.btmbar{
		font-size: 12px;
		line-height: normal;
		p{
			margin-bottom: 3px;
		}
	}
	.hero-inner{
		padding-bottom: 0;
	}
	.team-list{
		li{
			width: calc(100% / 2);
		}
	}
	.contactus{
		.holder{
			display: block;
		}
		.data{
			width: 100%;
			text-align: center;
		}
		.map{
			max-width: 300px;
			width: 100%;
			margin: 0 auto 50px;
		}
	}
	.points3{
		.holder{
			padding-bottom: 0;
		}
	}
	.hero-inner{
		margin-bottom: 20px;
	}
	.guide-content{
		.tip{
			.content{
				flex-direction: column;
				.text{
					padding-bottom: 30px;
				}
				.btn{
					margin: 0;
				}
			}
		}
		.footer{
			.btns{
				flex-direction: column;
				.btn{
					width: 100%;
					max-width: 350px;
					margin: 0 auto 20px;
				}
			}
		}
	}
	.guide-content{
		.quote{
			margin-top: 0;
			font-size: 16px;
			line-height: 28px;
			padding-left: 0;
			margin-bottom: 25px;
			&:after{
				content: '';
			}
		}
	}
	.endcta .btn{
		min-width: 0;
	}
	.quiz-page{
		background: #fff url(../images/homepage-bg-mobile.png) no-repeat 50% 70px;
		.howitworks-popup{
			display: none;
			&.js-visible{
				display: block;
			}
		}
		#footer{
			display: none;
		}
		#header{
			background: #fff;
			padding: 8px 0 11px;
			border-top: 0;
			.logo{
				width: 142px;
				height: 30px;
			}
			.js-progressbar{
				background: #9670c3;
				display: block;
				width: 100%;
			}
			.nav-holder .opener{
				margin-top: 7px;
			}
		}
		#container{
			padding-top: 54px;
			padding-bottom: 15px;
		}
		.contact-person{
			top: 0;
			margin: 0 0 5px;
			font-size: 14px;
			.photo{
				margin-bottom: 4px;
				img{
					width: 70px;
					height: auto;
					border: 0;
				}
			}
			.name{
				display: inline-block;
			}
			em{
				display: inline-block;
				&:before{
					content: '-';
					margin-right: 4px;
				}
			}
		}
		.quiz-holder{
			background: none;
			box-shadow: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.quiz-inner{
			padding-bottom: 0;
		}
		.quiz-content{
			background: #fff;
			box-shadow:0 0 7px rgba(0,0,0,.1);
			border-radius: 10px;
			h2{
				position: relative;
				font-size: 20px;
				line-height: 22px;
				margin-bottom: 5px;
				margin-left: -10px;
				margin-right: -10px;
				color: #fff;
				padding: 12px 5px;
				background: rgb(52,52,100);
				border-radius: 10px 10px 0 0;
				background: -moz-linear-gradient(left, rgba(52,52,100,1) 0%, rgba(149,112,194,1) 100%);
				background: -webkit-linear-gradient(left, rgba(52,52,100,1) 0%,rgba(149,112,194,1) 100%);
				background: linear-gradient(to right, rgba(52,52,100,1) 0%,rgba(149,112,194,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343464', endColorstr='#9570c2',GradientType=1 );
			}
			.quiz-step[data-attr="4"]{
				.selling-reasons{
					.box{
						padding-top: 1px;
					}
				}
				span[class^="ico"]{
					transform: scale(1);
					margin: 10px auto;
				}
			}
			.quiz-step[data-attr="5"]{
				span[class^="ico"]{
					transform: scale(.7);
					margin: -10px auto -6px;
					&.ico-average,
					&.ico-poor{
						margin-top: 10px;
					}
				}
			}
			.quiz-step[data-attr="7"]{
				span[class^="ico"]{
					transform: scale(.55);
					margin-bottom: -20px;
					margin-top: -15px;
				}
				.selling-reasons{
					padding-top: 0;
					.box{
						padding-top: 5px;
						h4{
							font-size: 16px;
							line-height: 18px;
						}
					}
				}
				.question{
					position: absolute;
					right: 10px;
					bottom: -250px;
					span{
						left: auto;
						right: 0;
						top: auto;
						bottom: 56px;
						color: #313362;
						padding-left: 10px;
						padding-right: 10px;
						&:after{
							left: auto;
							right: 6px;
							top: auto;
							bottom: -14px;
							transform: rotate(180deg);
						}
					}
				}
			}
			.quiz-step[data-attr="9"]{
				.img-holder{
					img{
						display: block;
						width: 150px;
						height: auto;
						margin: 0 auto;
					}
				}
			}
			span[class^="ico"]{
				transform: scale(0.5);
				margin: -20px auto -22px;
			}
			.box{
				padding-top: 5px;
				padding-bottom: 10px;
				h4{
					font-size: 18px;
					margin-bottom: 3px;
				}
				h5{
					font-size: 14px;
				}
			}
		}
		.quiz-step{
			padding-left: 10px;
			padding-right: 10px;
			width: 100% !important;
			padding-bottom: 60px;
			// height: calc(100vh - 165px);
			&[data-attr="1"]{
				.quiz-btns{
					.btn{
						width: 100%;
						max-width: 100%;
						border-radius: 0 0 10px 10px;
					}
				}
			}
			&[data-attr="1"]{
				padding-bottom: 70px;
			}
			&[data-attr="9"]{
				padding-bottom: 30px;
				.content{
					padding-bottom: 0;
				}
			}
			.custom-select-panel{
				bottom: 100%;
				top: auto;
			}
		}
		.quiz-btns{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-left: 0;
			.btn{
				padding-top: 17px;
				padding-bottom: 17px;
				border-radius: 0 0 10px;
				width: 50%;
				float: right;
				margin: 0 !important;
				box-shadow: none;
				border: 0;
				min-width: 0;
				max-width: 100%;
				&:hover{
					background: #00d5c4;
					color: #fff;
				}
			}
			.back{
				float: left;
				width: 50%;
				background: #00d5c4;
				color: #fff;
				padding: 17px 15px;
				border-radius: 0 0 0 10px;
				box-sizing: border-box;
				line-height: 20px;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					height: 54px;
					width: 2px;
					background: rgba(0,0,0,.1);
				}
			}
			.btn-holder{
				width: 50%;
				float: right;
				margin: 0 !important;
				.btn{
					width: 100%;
				}
			}
		}
		.quiz-progressbar{
			em{
				color: #798794;
				font-size: 14px;
				line-height: normal;
				margin: 0;
				font-weight: 400;
				position: absolute;
				right: 10px;
				top: 60px;
			}
			.bar{
				display: none;
			}
		}
		.address-form{
			padding-top: 0;
			padding-bottom: 0;
			.field{
				margin-bottom: 5px;
			}
			label{
				font-size: 15px;
			}
			.custom-select-opener,
			.txt{
				border: 1px solid #e2e7eb;
				border-radius: 5px;
				line-height: 20px;
				padding: 8px;
			}
			.custom-select-opener{
				&:after{
					right: 10px;
				}
			}
			.fields3{
				flex-wrap: wrap;
				.field{
					width: 49%;
					&:first-child{
						width: 100% !important;
					}
				}
			}
		}
		.slider-content{
			padding: 10px 0;
			span[class^="ico"]{
				transform: scale(.8);
				margin: -10px auto;
			}
			h3{
				font-size: 20px;
				margin-bottom: 5px;
			}
			em{
				font-size: 16px;
				line-height: normal;
				display: block;
			}
		}
		.Slider{
			padding-top: 54px;
			margin-left: 20px;
			margin-right: 20px;
			margin-bottom: 0;
			padding: 54px 0 20px;
		}
	}
	.question{
		position: absolute;
		right: 10px;
		bottom: -50px;
		z-index: 20;
		overflow: hidden;
		&.js-visible{
			overflow: visible;
		}
		span{
			left: auto;
			right: 0;
			color: #313362;
			padding-left: 10px;
			padding-right: 10px;
			z-index: 20;
			&:after{
				left: auto;
				right: 6px;
			}
		}
		&:hover{
			background-position: 0 0;
			span{
				opacity: 0;
				z-index: -1;
			}
		}
		&.js-visible{
			background-position: 0 -42px;
			span{
				opacity: 1;
				z-index: 10;
			}
		}
	}
	.selling-reasons{
		padding: 5px 0 0;
		margin: 0;
		h3{
			display: none;
		}
	}
	.text-content{
		padding-bottom: 30px;
		padding-top: 100px;
		h2{
			margin-bottom: 25px;
			font-size: 30px;
			text-align: left;
		}
		.section{
			ul{
				padding-top: 10px;
			}
			li{
				padding-left: 10px;
			}
		}
	}
	.seller-profile{
		margin-top: 80px;
		.photo{
			width: 90px;
			height: 90px;
			top: -45px;
			margin-bottom: -30px;
		}
	}
}
@media screen and (max-width:414px) {
	.guide-overview .hero, .blogpost-page .hero{
		margin-bottom: 50px;
	}
	.contact-form{
		padding: 20px 20px 40px;
	}
	.features{
		padding-bottom: 20px;
		h4{
			margin-bottom: 10px;
		}
		li{
			padding-left: 60px;
		}
	}
	.trendingarticles{
		.box{
			width:100% !important;
		}
	}
	.opened.nav-holder{
		.headroom--unpinned &{
			top: 69px;
		}
		.inner{
			left: 5px;
			top: 5px;
			bottom: 5px;
			right: 5px;
			padding-top: 50px;
		}
		.nav{
			max-height: calc(100% - 80px);
			li{
				margin-bottom: 15px;
			}
			.drop{
				ul{
					padding-top: 10px;
				}
				li{
					margin-bottom: 10px;
				}
			}
		}
	}
	#header{
		border-top-width: 3px;
		padding-top: 9px;
		padding-bottom: 54px;
		.logo{
			width: 150px;
			height: 32px;
			background-size: cover;
		}
	}
	.hero{
		padding-bottom: 40px;
		h1{
			margin-bottom: 8px;
		}
		h2{
			margin-bottom: 12px;
		}
		p{
			margin-bottom: 30px;
		}
	}
	.fouroptions h2{
		margin-bottom: 30px;
	}
	.hero-inner{
		padding: 0;
	}
	.howitworks-popup{
		left: 10px !important;
		display: none;
		&.js-visible{
			display: block;
		}
	}
	.howitworks-content{
		ul{
			margin-left: 0;
			margin-right: 0;
		}
		li{
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 25px;
			width: 100%;
		}
		p{
			margin: 0;
			br{
				display: none;
			}
		}
	}
	.guide-overview{
		.nav-holder{
			padding-top: 5px;
		}
		#header.headroom--top .logo{
			width: 152px;
			height: 54px;
			background-size: cover;
		}
	}
	.blogpost-page{
		#header.headroom--top .logo{
			width: 191px;
			height: 41px;
			background-size: cover;
		}
		.hero{
			padding-top: 191px;
			.hero-holder{
				padding-top: 0;
			}
			.text{
				position: static;
				transform: none;
			}
			.wrapper{
				height: auto;
			}
		}
	}
	.guide-content{
		.post-author{
			margin-top: 0;
		}
		.tip{
			.btns{
				.btn{
					display: block;
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
	}
	.Slider-steps{
		&:after,
		&:before{
			white-space: normal;
			max-width: 100px;
		}
	}
	.seller-profile{
		padding-left: 5px;
		padding-right: 5px;
		.icos{
			li{
				margin-left:4px;
				margin-right: 4px;
			}
		}
	}
	.seller-section{
		border-radius: 10px !important;
		.header{
			h2{
				border-radius: 10px !important;
				font-size: 20px;
				padding: 15px;
				i{
					display: none;
				}
				&:before{
					font-size: 14px;
					top: 13px;
					right: 45px;
					width: 50px;
				}
				&:after{
					font-size: 26px;
					top: 26px;
				}
			}
		}
		&.js-opened .header h2{
			border-radius: 10px 10px 0 0 !important;
		}
	}
}
@media screen and (max-height:550px) {
	.quiz-page{
		.quiz-step{
			height: auto;
		}
	}
}