@media screen and (max-width:1600px) {
	.subscribe-form{
		margin-right: 20px;
		flex-direction: column;
		align-items: flex-start;
		flex-wrap: wrap;
		label{
			padding-bottom: 20px;
		}
	}
	#footer{
		.logo{
			float: none;
			display: block;
			margin-bottom: 15px;
		}
		.nav-holder{
			float: none;
			padding-bottom: 10px;
		}
		.holder{
			float: none;
			overflow: hidden;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		.wrapper{
			padding-bottom: 20px;
		}
	}
}
@media screen and (max-width:1000px) {
	#footer{
		.logo{
			margin: 0 auto 25px;
		}
		.holder{
			padding: 0;
			flex-direction: column;
			align-items: center;
		}
		.subscribe-form{
			align-items: center;
			margin: 0 0 20px;
		}
	}
}
@media screen and (max-width:900px) {
	#header{
		.wrapper{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.fouroptions{
		.box{
			width: 48%;
		}
	}
	.media-partners{
		padding-bottom: 5px;
		ul{
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			align-content: center;
		}
		li{
			padding: 0 33px 25px;
			margin: 0;
			box-sizing: border-box;
			width: 20%;
		}
	}
	.guides-list{
		strong{
			font-size: 18px;
			line-height: 1.2;
			display: block;
			br{
				display: none;
			}
		}
	}
}

@media screen and (min-width:769px) {
	.animated{
		position: relative;
		opacity: 0;
	}
	.animation{
		animation-duration: .8s;
		animation-timing-function: ease-in-out;
		animation-delay:0;
		animation-fill-mode:forwards;
	}
	.js-flyin{
		&.hero{
			.text{
				@extend .animated;
				top: -60px;
				@include animation($delay:.8s);
			}
		}
		&.fouroptions{
			.box{
				@extend .animated;
			}
		}
		&.aboutus{
			.text{
				@extend .animated;
			}
			.img{
				@extend .animated;
			}
		}
		&.trendingarticles{
			.box{
				@extend .animated;
			}
		}
		&.guides-list{
			li{
				@extend .animated;
			}
		}
		&.quotes-block{
			@extend .animated;
		}
	}
	.js-inview{
		&.hero{
			.text{
				opacity:1;
				top: 0;
			}
		}
		&.fouroptions{
			.box{
				@extend .animation;
				&:nth-child(1),
				&:nth-child(2){
					animation-name: fadeInLeft;
				}
				&:nth-child(3),
				&:nth-child(4){
					animation-name: fadeInRight;
				}
				&:nth-child(1),
				&:nth-child(4){
					animation-delay:.8s;
				}
			}
		}
		&.aboutus{
			.text{
				@extend .animation;
				animation-name: fadeInLeft;
			}
			.img{
				@extend .animation;
				animation-name: fadeInRight;
			}
		}
		&.trendingarticles{
			.box{
				@extend .animation;
				animation-name: fadeIn;
				@for $i from 2 through 10{
					&:nth-child(#{$i}){
						animation-delay:.3s * $i;
					}
				}
			}
		}
		&.guides-list{
			li{
				@extend .animation;
				animation-name: fadeInDown;
				@for $i from 2 through 10{
					&:nth-child(#{$i}){
						animation-delay:.2s * $i;
					}
				}
			}
		}
		&.quotes-block{
			@extend .animation;
			animation-name: fadeInDown;
		}
	}
	@keyframes fadeIn{
		from {
			opacity:0;
		}
		to{
			opacity: 1;
		}
	}
	@keyframes fadeInLeft{
		from {
			left: -150px;
			opacity:0;
		}
		to{
			left: 0;
			opacity: 1;
		}
	}
	@keyframes fadeInRight{
		from {
			right: -150px;
			opacity:0;
		}
		to{
			right: 0;
			opacity: 1;
		}
	}
	@keyframes fadeInDown{
		from {
			bottom: -50px;
			opacity:0;
		}
		to{
			bottom: 0;
			opacity: 1;
		}
	}
}

@media screen and (max-width:768px) {
	#container{background: none;}
	body{
		background: #fff url(../images/homepage-bg-mobile.png) no-repeat 50% 200px;
	}
	#header{
		.wrapper{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.nav-holder{
		.nav,
		.btn{
			display: none;
		}
		.opener{
			display: block;
		}
	}
	.fouroptions{
		margin-bottom: 30px;
		.box{
			margin-bottom: 15px;
		}
	}
	.aboutus{
		flex-direction: column;
		margin-bottom: 20px;
		& > .text{
			width: auto;
			padding-top: 0;
		}
		& > .img{
			display: none;
		}
	}
	.trendingarticles{
		margin-bottom: 40px;
		.box{
			width: 48.5%;
			margin-bottom: 20px;
		}
	}
	.hero{
		padding-bottom: 45px;
		h1{
			font-size: 55px;
		}
		h2{
			font-size: 40px;
		}
	}
	.guides{
		margin-bottom: 30px;
	}
	.guides-list{
		justify-content: center;
		li{
			width: 50%;
			margin-bottom: 40px;
		}
		strong{
			font-size: 24px;
			br{
				display: block;
			}
		}
		img{
			width: 80%;
			margin: 0 auto 14px;
		}
	}
	#container{
		padding-bottom: 30px;
	}
}
@media screen and (max-width:600px) {
	#header{
		padding-bottom: 45px;
	}
	.trendingarticles{
		h3{
			text-align: center;
			margin-bottom: 25px;
			font-size: 26px;
		}
		.box{
			width:100% !important;
			margin: 0 auto 30px;
			border-radius: 20px;
			padding: 14px 14px 60px;
			box-shadow: 0 0 8px #ccc;
			display: flex;
			align-content: stretch;
			margin-bottom: 15px;
			position: relative;
			.img{
				width: 40%;
				height: auto !important;
				padding: 5px !important;
				display: flex;
				min-height: 140px;
				img{
					height: auto !important;
				}
			}
			.text{
				padding: 0 0 0 12px;
				width: 60%;
				h4{
					font-weight: 400;
					-webkit-line-clamp: 4;
					line-height:24px;
					max-height:96px;
					font-size: 18px;
					a{
						display: inline-block;
						padding: 4px 0;
					}
				}
			}
		}
		.meta{
			position: absolute;
			bottom: 10px;
			left: 0;
			box-sizing: border-box;
			padding:0;
			padding-left: calc(40% + 12px);
			min-height: 80px;
			line-height: 1.5;
			width: 100%;
			.photo{
				width: 40%;
				margin: 0;
				position: absolute;
				left: 0;
				padding-left: 15px;
				box-sizing: border-box;
				top: 0;
				text-align: center;
				img{
					display: inline-block;
				}
			}
			.author{
				float: none;
				overflow: hidden;
			}
			.date{
				float: none;
				display: block;
				margin-top: 10px;
			}
		}
		.tags{
			position: absolute;
			bottom: 15px;
			left: 0;
			padding-left: calc(40% + 12px);
		}
	}
	#footer{
		.nav-holder{
			display: none;
		}
		.logo{
			width: 196px;
			height: 70px;

		}
		.subscribe-form{
			width: 100%;
			margin-bottom: 10px;
			 label{
				 font-size: 16px;
				 margin: 0 0 8px;
				 padding: 0;
			 }
			 .set{
				 width: 100%;
			 }
			 .txt{
				 box-sizing: border-box;
				 width: 70%;
			 }
			 .btn{
				 width: 30%;
			 }
		}
	}
	.btmbar{
		text-align: center;
		ul,
		p{
			float: none;
		}
	}
	.media-partners{
		li{
			width: 33.3%;
		}
	}
}
@media screen and (max-width:500px) {
	body{
		background-position: 50% 110px;
	}
	#header{
		padding-top: 12px;
		padding-bottom: 60px;
	}
	.btn{
		letter-spacing: 1px;
		box-sizing: border-box;
		max-width: 285px;
		width: 100%;
		margin: 0 auto;
		line-height: 20px;
		padding: 20px 15px;
	}
	.hero{
		padding-bottom: 60px;
		h1{
			font-size: 31px;
		}
		h2{
			font-size: 21px;
		}
		p{
			font-size: 16px;
			margin-bottom: 40px;
		}
	}
	.wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}
	.fouroptions{
		h2{
			font-size: 24px;
			margin-bottom: 32px;
		}
		.box{
			width: 48%;
			margin-bottom:13px;
			overflow: hidden;
			padding-left: 5px;
			padding-right: 5px;
			.img{
				margin-top: -20px;
				margin-bottom:-15px;
			}
			h3{
				font-size: 22px;
			}
			p{
				display: none;
			}
		}
	}
	.aboutus{
		text-align: center;
		h3{
			font-size: 26px;
			text-align: left;
		}
		.text{
			font-size: 16px;
			line-height: 24px;
			padding-right: 0;
		}
		p{
			text-align: left;
		}
	}
	.guides{
		margin: 0;
		h3{
			text-align: center;
			margin-bottom: 25px;
			font-size: 21px;
			max-width: 180px;
			margin: 0 auto 30px;
		}
	}
	.guides-list{
		strong{
			font-size: 20px;
		}
	}
	.media-partners{
		padding-top: 0;
		ul{
			margin: 0 -15px;
		}
		li{
			width: 25%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.subscribe-form{
		.btn,
		.txt{
			height: 50px;
		}
		.btn{
			font-size: 13px;
			letter-spacing: 0;
		}
	}
	.quotes-block{
		.quote{
			&:before{
				margin-bottom: 15px;
			}
		}
	}
	#footer{
		.subscribe-form{
			margin-bottom: 0;
		}
		.wrapper{
			padding-top: 35px;
		}
		.logo{
			width: 126px;
			height: 45px;
			margin-bottom: 18px;
		}
	}
	.nav-holder{
		padding-top: 0;
	}
	.btmbar{
		font-size: 12px;
		line-height: normal;
		p{
			margin-bottom: 3px;
		}
	}
}
@media screen and (max-width:414px) {
	.trendingarticles{
		.box{
			width:100% !important;
		}
	}
}
