@import "variables";
@import "../fonts/fontawesome/css/font-awesome.min.css";
@import "fonts";
@import "reset";

html{height:100%;}
body{
	color:$bodycolor;
	font:500 20px/30px $fonts;
	min-width:320px;
	height:100%;
}
.wrapper{
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1500px;
}
.btn{
	@include animation;
}
