@import "variables";
@import "fonts";
@import "reset";
@import "custom-select";
@import "tiny-slider";
@import "range-slider";
@import "animations";

html{height:100%;}
body{
	color:$bodycolor;
	font:300 18px/27px $fonts;
	min-width:320px;
	background: #fff url(../images/bg-innerpage.png) no-repeat 50% 0;
	&.home{
		background-image: url(../images/homepage-bg.png);
	}
}
#container{
	background:url(../images/bg-page-b.png) no-repeat 50% 100%;
	overflow: hidden;
	padding-bottom: 100px;
}
.wrapper{
	padding: 0 20px;
	margin: 0 auto;
	max-width: 1350px;
}
.btn{
	@include animation;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 50px;
	padding: 23px 48px;
	border: 2px solid #00d5c4;
	background: #00d5c4;
	display: inline-block;
	box-shadow:0 3px 6px rgba(0,0,0,.2);
	&:hover{
		color: #00d5c4;
		background: #fff;
	}
}
.fullwidthimg{
	display: block;
	width: 100%;
	height: auto;
}
#header{
	border-top: 5px solid #795cb8;
	padding-top: 44px;
	z-index: 110;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	.wrapper{
		max-width: 1920px;
		padding: 0 50px;
	}
	.logo{
		background: url(../images/logo.png) no-repeat;
		width: 191px;
		height: 41px;
	}
	&.headroom {
		will-change: transform;
		transition: transform 200ms linear;
		&--pinned{
			transform: translateY(0%);
		}
		&--not-top{
			background: #fff;
			padding:16px 0 21px;
			box-shadow: 0 0 9px rgba(0,0,0,.1);
			width: 100%;
			z-index: 101;
			border-top: none;
			a{
				color: #313362;
			}
			.btn{
				color: #fff;
				background: #00d5c4;
				border-color: #00d5c4;
				box-shadow: 0 3px 6px rgba(1,1,1,.2);
			}
			&:after{
				content: '';
				height: 3px;
				background: #ccc;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
		}
		&--unpinned{
			transform: translateY(-100%);
		}
	}
}
.nav-holder{
	float: right;
	padding-top: 5px;
	font-weight: 500;
	font-size: 13px;
	text-transform: uppercase;
	.guide-overview &{
		padding-top: 20px;
	}
	.blogpost-page &{
		padding-top: 5px;
	}
	.btn{
		color: #313362;
		background: none;
		border-color: #313362;
		box-shadow: none;
		padding: 8px 20px;
		font-size: 13px;
		letter-spacing: 1px;
		&:hover{
			color: #fff;
			background: #313362;
		}
	}
	.opener{
		display: none;
		background:url(../images/ico-hamburger.png) no-repeat;
		width:24px;
		height:18px;
		cursor: pointer;
		margin-top: 10px;
	}
}
.nav{
	float: left;
	padding-top: 12px;
	line-height: 20px;
	a{
		color: $darklinkcolor;
		&:hover{
			color: $linkcolorhover !important;
		}
	}
	li{
		float: left;
		position: relative;
		margin-right: 30px;
		z-index: 16;
		&.js-dropdown{
			z-index: 15;
			& > a{
				padding-right: 13px;
				&:before{
					@extend .fa;
					@extend .fa-angle-down:before;
					position: absolute;
					right: 0;
					top: 3px;
				}
			}
			&:hover{
				.drop{
					display: block;
				}
			}
		}
	}
	a{
		@include animation;
		display: inline-block;
	}
	.drop{
		position: absolute;
		left: -180px;
		padding-top: 40px;
		display: none;
		top: 0;
		z-index: 15;
		&:after{
			content: '';
			background:url(../images/ico-arrow.png) no-repeat 50% 0;
			width:100%;
			height:10px;
			position: absolute;
			top: 31px;
			left: 0;
			z-index: 16;
		}
		ul{
			width: 400px;
			box-shadow: 0 0 20px #ddd;
			background: #fff;
			border-radius: 15px;
			text-transform: none;
			font-weight: 400;
			font-size: 15px;
			overflow: hidden;
		}
		li{
			float: none;
			margin: 0;
		}
		a{
			display: flex;
			align-items: center;
			padding: 14px 40px 14px 30px;
			color: $darklinkcolor !important;
			&:hover{
				background: #f2f5f7;
				color: #313362 !important;
			}
		}
		img{
			width: 68px;
			height: 66px;
			display: block;
			margin-right: 10px;
		}
	}
}
.logo{
	float: left;
	text-indent: -9999px;
	background: url(../images/logo.png) no-repeat;
	background-size: cover;
	width: 191px;
	height: 41px;
	overflow: hidden;
	a{
		display: block;
		height: 100%;
	}
}
.hero{
	text-align: center;
	color: #313362;
	padding: 191px 0 65px;
	h1{
		margin-bottom: 10px;
	}
	h2{
		font-weight: 300;
		margin-bottom: 18px;
	}
	p{
		max-width: 550px;
		margin: 0 auto 25px;
	}
}
.hero-inner{
	height: 516px;
	box-sizing: border-box;
	padding: 70px 0 0;
	margin-top: 175px;
	margin-bottom: 70px;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background: url(../images/bg-arrow.png) repeat-x 50% 0;
		width: 100%;
		height: 138px;
	}
	&.gavel{
		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 50px;
			background:url(../images/img-gavel.png) no-repeat;
			width:616px;
			height:479px;
		}
	}
}
.fouroptions{
	max-width: 1250px;
	margin: 0 auto 115px;
	text-align: center;
	color: #d2c8e7;
	font-size: 15px;
	line-height: 21px;
	h2{
		margin-bottom: 25px;
	}
	.content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.box{
		width: 23%;
		background: #363568;
		border-radius: 10px;
		padding:0 25px 25px;
		box-sizing: border-box;
		margin-bottom: 40px;
		display: block;
	}
	.h3{
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 14px;
		color: #fff;
		display: block;
	}
	.p{
		display: block;
		color: #d2c8e7;
		font-weight: 300;
		margin-bottom: 18px;
	}
	.img{
		display: block;
		margin: 0 -25px -35px;
		img{
			@extend .fullwidthimg;
		}
	}
	a{
		font-weight: 500;
	}
}
.aboutus{
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	margin-bottom: 60px;
	& > *{
		width: 50%;
		box-sizing: border-box;
	}
	.img{
		display: block;
		img{
			@extend .fullwidthimg;
		}
	}
	.text{
		padding: 35px 30px 25px 0;
	}
}
.trendingarticles{
	max-width: 1300px;
	margin: 0 auto 70px;
	h3{
		margin-bottom: 40px;
	}
	.content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.box{
		&:first-child,
		&:nth-child(2){
			width: 48.5%;
			.img{
				height: 268px;
				padding: 20px 10px 0;
				img{
					height: 100%;
				}
			}
		}
		margin-bottom: 45px;
		width: 31%;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0 3px 4px #eee;
		background: #fff;
	}
	.img{
		background-color: #f2f5f7;
		background-repeat: repeat;
		text-align: center;
		padding-top: 20px;
		box-sizing: border-box;
		height: 265px;
		display: flex;
		align-items: center;
		justify-content: center;
		&.pattern-dots{
			background-image: url(../images/pattern-dots.png);
		}
		&.pattern-puzzle{
			background-image: url(../images/pattern-puzzle.png);
		}
		&.pattern-diamonds{
			background-image: url(../images/pattern-diamonds.png);
		}
		&.pattern-dots{
			background-image: url(../images/pattern-dots.png);
		}
		&.pattern-shapes{
			background-image: url(../images/pattern-shapes.png);
		}
		img{
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
			height: auto;
			width: auto;
		}
	}
	.text{
		padding: 20px 30px 25px;
		h4{
			font-size: 26px;
			line-height: 32px;
			font-weight: 500;
			overflow: hidden;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			line-height:32px;
			max-height:96px;
			margin-bottom: 18px;
			a{
				color: $darklinkcolor;
				&:hover{
					color: $linkcolorhover;
				}
			}
		}
	}
	.meta{
		overflow: hidden;
		margin-top: -42px;
		position: relative;
		padding: 54px 30px 0 20px;
		color: #333;
		font-size: 14px;
		.author{
			float: left;
			dl{
				float: left;
			}
			dd,
			dt{
				float: left;
				margin-right: 6px;
			}
		}
		.photo{
			margin-top: -54px;
			margin-right: 14px;
			float: left;
			img{
				border-radius: 50%;
				width: 80px;
				height: 80px;
				display: block;
			}
		}
		.date{
			float: right;
			font-style: normal;
		}
	}
	.tags{
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 1px;
		li{
			display: inline-block;
			padding-left: 21px;
			position: relative;
			&:after{
				content: '';
				width: 1px;
				height: 14px;
				background: #bbb;
				position: absolute;
				left: 10px;
				top: 1px;
			}
			&:first-child{
				padding-left: 0;
				&:after{
					display: none;
				}
			}
		}
	}
}
.guides{
	margin-bottom: 100px;
	h3{
		margin-bottom: 50px;
	}
}
.guides-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	font-size: 24px;
	line-height: 32px;
	a{
		display: block;
		color: $darklinkcolor;
		&:hover{
			color: $darklinkcolorhover;
		}
	}
	li{
		width: 18%;
		margin-bottom: 20px;
		&:last-child{
			img{
				position: relative;
				right: -8px;
			}
		}
	}
	img{
		@extend .fullwidthimg;
		margin-bottom: 14px;
	}
}
.quotes-block{
	max-width: 900px;
	margin: 0 auto 20px;;
	.quote{
		text-align: center;
		&:before{
			content: '';
			display: block;
			background:url(../images/ico-quote.png) no-repeat;
			width:47px;
			height:33px;
			margin: 0 auto 45px;
		}
		p{
			font-style: italic;
			font-weight: 400;
			margin-bottom: 25px;
		}
		cite{
			font-style: normal;
			strong{
				display: block;
				color: #333;
			}
			em{
				font-style: normal;
			}
		}
	}
	.tns-controls{
		display: none;
	}
	.tns-outer{
		position: relative;
		padding-bottom: 40px !important;
	}
	.tns-nav{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
		button{
			display: inline-block;
			width: 8px;
			height: 8px;
			background: #06d7c6;
			border: none;
			border-radius: 50%;
			margin: 0 7px;
			opacity: .3;
			&:hover,
			&.tns-nav-active{
				opacity: 1;
			}
		}
	}
}
.media-partners{
	padding: 38px 0;
	.wrapper{
		max-width: 1300px;
		overflow: hidden;
	}
	ul{
		display: flex;
		margin: 0 -33px;
		align-items: center;
	}
	li{
		margin: 0 33px;
	}
	img{
		@extend .fullwidthimg;
	}
}
#footer{
	background: rgb(50,51,99);
	background: -moz-linear-gradient(top, rgba(50,51,99,1) 0%, rgba(72,51,114,1) 100%);
	background: -webkit-linear-gradient(top, rgba(50,51,99,1) 0%,rgba(72,51,114,1) 100%);
	background: linear-gradient(to bottom, rgba(50,51,99,1) 0%,rgba(72,51,114,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323363', endColorstr='#483372',GradientType=0 );
	.wrapper{
		max-width: 1950px;
		padding-top: 40px;
		padding-bottom: 40px;
		overflow: hidden;
	}
	.logo{
		background-image: url(../images/logo-footer.png);
		width: 232px;
		height: 83px;
	}
	a{
		color: #fff;
	}
	.nav-holder{
		float: right;
		padding-top: 11px;
		.btn{
			border-color: #fff;
		}
	}
	.holder{
		float: right;
		padding-top: 12px;
	}
	.btmbar{
		.wrapper{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}
.subscribe-form{
	float: left;
	margin-right: 90px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	.set{
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
	label{
		color: #fff;
		font-weight: bold;
		font-size: 24px;
		margin-right: 19px;
	}
	.btn{
		border-radius:0 50px 50px 0;
		box-shadow: none;
		width: 165px;
		text-align: center;
		padding: 0;
		height: 60px;
		border: none;
		&:hover{
			background: #00d5c4;
			color: #fff;
		}
	}
	.txt{
		border: none;
		background: #fff;
		height: 60px;
		padding-left: 30px;
		padding-right: 10px;
		border-radius:50px 0 0 50px;
		box-sizing: border-box;
		width: 330px;
	}
}
.btmbar{
	background: rgba(0,0,0,.2);
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
	padding-top: 16px;
	padding-bottom: 10px;
	p{
		float: left;
		margin: 0;
	}
	ul{
		float: right;
	}
	li{
		display: inline-block;
		&:before{
			content: '-';
			display: inline-block;
			margin: 0 8px 0 5px;
		}
		&:first-child{
			&:before{
				display: none;
			}
		}
	}
}
.about-section{
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	.text{
		width: 47%;
	}
	.img{
		width: 47%;
		max-width: 545px;
		img{
			@extend .fullwidthimg;
		}
	}
	.market-logo{
		display: block;
		margin-bottom: 30px;
	}
}
.features{
	padding-bottom: 85px;
	h3{
		margin-bottom: 80px;
	}
	.features-list{
		columns: 2;
		column-gap: 50px;
	}
	h4{
		margin:0;
		font-size: 18px;
		line-height: 1.4;
	}
	li{
		padding: 0 0 22px 80px;
		position: relative;
		box-sizing: border-box;
		display: inline-block;
	}
	.ico{
		position: absolute;
		left: 0;
		top: 0;
	}
}
.heading{
	text-align: center;
	padding-bottom: 20px;
}
.contact-us{
	max-width: 620px;
	margin: 0 auto;
}
.contact-form{
	background: #fff;
	box-shadow:0 0 7px rgba(0,0,0,.1);
	max-width: 515px;
	margin: 0 auto;
	border-radius:10px;
	padding: 50px 30px 40px;
	box-sizing: border-box;
	position: relative;
	.field{
		max-width: 414px;
		margin: 0 auto 30px;
	}
	label{
		text-transform: uppercase;
		cursor: pointer;
		font-weight: bold;
		font-size: 12px;
		color: #2f305d;
	}
	.txt{
		display: block;
		border: none;
		background: none;
		border-bottom: 2px solid #f2f2f2;
		width: 100%;
		box-sizing: border-box;
		font-weight: 400;
		color: #333;
		font-size: 18px;
		padding: 11px 0;
		line-height: 22px;
		font-style: normal;
		&:focus{
			border-color: #999;
		}
		&:invalid{
			box-shadow: none;
		}
		&.js-error{
			border-color: red;
			& + .js-error-text{
				display: block;
			}
		}
	}
	.js-error-text{
		font-size: 14px;
		font-style: italic;
		color: red;
		margin: 0;
		display: none;
	}
	.btn{
		width: 100%;
		letter-spacing: 2px;
		font-size: 13px;
		padding-top: 20px;
		padding-bottom: 20px;
		outline: none !important;
		margin-top: 10px;
		display: block;
		box-sizing: border-box;
		text-align: center;
	}
	.completed{
		text-align: center;
		padding: 8px 0;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
		@include animation;
		.img{
			display: block;
			margin-bottom: 16px;
		}
		.title{
			display: block;
			font-size: 24px;
			color: #2f305d;
			margin-bottom: 18px;
		}
		.btn{
			width: auto;
			display: inline-block;
		}
	}
	.fieldset{
		position: relative;
		z-index: 1;
	}
	&.js-validform .fieldset{
		opacity:0;
		position: absolute;
		z-index: 0;
	}
	&.js-validform .completed{
		position: relative;
		opacity: 1;
		z-index: 1;
	}
}
.guide-overview{
	background: #fff;
	#header.headroom--top{
		border: none;
		left: 0;
		width: 100%;
		z-index: 50;
		padding: 32px 0 0;
		.logo{
			background-image: url(../images/logo-footer.png);
			width: 232px;
			height: 83px;
		}
		a{
			color: #fff;
		}
		.nav-holder .btn{
			border-color: #fff;
		}
	}
	.hero{
		background:url(../images/bg-hero-guide-overview-blue.png) repeat-x 50% 100%;
		color: #fff;
		padding: 0;
		margin-bottom: 100px;
		&-i{
			background:url(../images/bg-hero-guide-overview.png) repeat-x 50% 100%;
		}
		&-holder{
			background:url(../images/bg-hero-guide-overview-tiles.png) repeat-x 50% 100%;
			padding: 50px 0 0;
		}
		.wrapper{
			height: 572px;
			position: relative;
		}
		h1{
			color: #fff;
			margin-bottom: 22px;
		}
		.text{
			@include vertical-align;
			z-index: 10;
		}
		.title{
			display: block;
			font-weight: 400;
			margin-bottom: 20px;
		}
		.video-link{
			display: block;
			margin: 0 auto;
			background:url(../images/ico-play.png) no-repeat;
			width:96px;
			height:96px;
		}
		.person{
			position: absolute !important;
			left: 0;
			bottom: 55px;
			img{
				left: -136px;
				position: relative;
			}
		}
		.cashoffer{
			bottom: 170px;
			img{
				left: -270px;
			}
		}
		.tags{
			text-align: center;
			line-height: 30px;
			li{
				display: inline-block;
				margin-bottom: 10px;
			}
			a{
				color: #fff;
				display: block;
				background:rgba(20,22,55,.5);
				padding: 0 15px;
				border-radius: 15px;
				@include animation;
				&:hover{
					background:rgb(20,22,55);
				}
			}
		}
	}
	.list{
		margin-bottom: 30px;
		li{
			&:before{
				content: '\2022';
				margin-right: 10px;
			}
		}
	}
	h4{
		margin-bottom:5px;
	}
}
.guide-section{
	background:url(../images/bg-section-b.png) repeat-x 50% 100%;
	padding-bottom: 130px;
	& + .guide-section{
		margin-top: -130px;
	}
	.wrapper{
		max-width: 1200px;
		overflow: hidden;
	}
	.item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 190px;
		&.item-r{
			flex-direction: row-reverse;
		}
		.img{
			max-width: 520px;
			width: 49%;
			display: block;
			img{
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
		.text{
			width: 49%;
			max-width: 520px;
			color: #6d6e71;
			font-size: 16px;
			line-height: 28px;
			p{
				margin-bottom: 30px;
			}
			h2{
				font-size: 24px;
				color: #313362;
				margin-bottom: 30px;
			}
		}
		.btn{
			padding-top: 18px;
			padding-bottom: 18px;
		}
	}
	&-l{
		background: none;
		padding-bottom: 170px;
		.item{
			margin-bottom: 0;
		}
	}
}
.points3{
	max-width: 1660px;
	margin: 0 auto;
	padding: 130px 10px 0;
	h3{
		font-size: 35px;
	}
	.holder{
		background:url(../images/img-diagram.png) no-repeat 50% 0;
		height: 800px;
		position: relative;
	}
	.vision{
		width: 330px;
		left: 90px;
		top: 15px;
		text-align: right;
	}
	.motivation{
		right: 0;
		top: 176px;
		width: 420px;
	}
	.dataorientation{
		bottom: 100px;
		left: 156px;
		width: 470px;
	}
	.text-block{
		position: absolute !important;
	}
}
.ourteam{
	overflow: hidden;
	margin-bottom: 100px;
}
.team-list{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	li{
		padding: 0 23px 60px;
		width: calc(100% / 5);
		box-sizing: border-box;
	}
	.photo{
		display: block;
		margin-bottom: 18px;
		border-radius: 50%;
		overflow: hidden;
		img{
			@extend .fullwidthimg;
		}
	}
	h5{
		margin: 0;
		text-transform: uppercase;
		font-weight: 300;
		font-size: 13px;
		letter-spacing: 2px;
	}
	h4{
		margin: 0 0 8px;
		font-size: 18px;
	}
}
.contactus{
	color: #313362;
	margin-bottom: 180px;
	.holder{
		display: flex;
		max-width: 800px;
		margin: 0 auto;
		justify-content: space-between;
		align-items: center;
	}
	.data,
	.map{
		width: 48%;
	}
	.map{
		border-radius: 50%;
		overflow: hidden;
		img{
			@extend .fullwidthimg;
		}
	}
	h6{
		font-size: 18px;
		margin: 0 0 4px;
	}
	address{
		font-style: normal;
		margin-bottom: 16px;
	}
	a{
		color: #00d5c4;
	}
	.fa{
		width: 29px;
	}
}
.media-partners-n{
	ul{
		max-width: 900px;
		flex-wrap: wrap;
		margin: 0 auto;
		justify-content: center;
	}
	li{
		margin: 0 20px 50px;
	}
}
.guide-content{
	background:url(../images/bg-arrow-b.png) repeat-x 50% 100%;
	color: #6d6e71;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 65px;
	.wrapper{
		max-width: 640px;
		padding: 0 140px 180px;
	}
	h2{
		font-size: 36px;
		margin-bottom: 30px;
	}
	p{
		margin-bottom: 30px;
	}
	.quote,
	.img-holder{
		margin: 0 -120px 50px;
		img{
			@extend .fullwidthimg;
		}
		.figcaption{
			display: block;
			text-align: center;
			margin: 14px 0 -20px;
		}
	}
	.quote{
		font-size: 26px;
		line-height: 36px;
		color: #6d6e71;
		font-style: italic;
		font-weight: 300;
		padding-left: 56px;
		position: relative;
		p{
			margin: 0;
		}
		&:after{
			content: '“';
			position: absolute;
			left: 0;
			top: 0;
			color: #313362;
			font-size: 100px;
		}
	}
	.tip{
		margin: 0 -45px 45px;
		padding: 26px 30px;
		box-shadow: 0 0 8px #ccc;
		border-radius: 14px;
		.btn{
			padding-top: 18px;
			padding-bottom: 18px;
		}
		.logo{
			background-image: url(../images/logo-tip.png);
			width: 154px;
			height: 41px;
			margin-right: 14px;
		}
		.title{
			float: left;
			font-style: italic;
			color: #00d4c4;
			font-size: 24px;
			margin-top: 14px;
		}
		.heading{
			overflow: hidden;
		}
		.content{
			display: flex;
			align-items: center;
			justify-content: center;
			font-style: italic;
			font-size: 16px;
			.btn{
				width: 122px;
				text-align: center;
				box-sizing: border-box;
				margin-left: 50px;
			}
			p{
				margin: 0;
				strong{
					color: #222;
				}
			}
		}
	}
	h3{
		font-size: 20px;
		margin-bottom: 12px;
	}
	.whatismoreimportant{
		text-align: center;
		h4{
			font-size: 22px;
			margin: 0 0 26px;
		}
	}
	.btns{
		.btn{
			margin: 0 20px 10px;
			width: 236px;
			box-sizing: border-box;
			text-align: center;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 13px;
		}
		.purple-btn{
			background: #795cb8;
			border-color: #795cb8;
			&:hover{
				background: #fff;
				color: #795cb8;
			}
		}
	}
	.footer{
		padding-top: 40px;
		margin:0 -120px;
		text-align: center;
		overflow: hidden;
		.share{
			position: relative;
			color: #313362;
			margin-bottom: 70px;
			&:before,
			&:after{
				content: '';
				position: absolute;
				right: 593px;
				height: 1px;
				top: 17px;
				background: #dbdbdb;
				width: 100%;
			}
			&:before{
				right: auto;
				left: 593px;
			}
			dt{
				font-weight: bold;
				display: inline-block;
				margin-right: 12px;
			}
			dd{
				display: inline-block;
			}
			ul{
				text-align: center;
			}
			li{
				display: inline-block;
				margin: 0 5px 0 1px;
			}
			a{
				color: #313362;
				display: block;
				width: 34px;
				height: 34px;
				background: #e7e8e8;
				@include animation;
				border-radius: 50%;
				&:hover{
					background: #313362;
					color: #e7e8e8;
				}
			}
			.fa{
				font-size: 18px;
				line-height: 34px;
			}
		}
		.btns{
			.btn{
				width: 360px;
				padding-top: 18px;
				padding-bottom: 18px;
				.fa-arrow-left{
					margin-right: 12px;
				}
				.fa-arrow-right{
					margin-left: 12px;
				}
			}
			.btn-grey{
				background-color: #b4b4b4;
				border-color: #b4b4b4;
				&:hover{
					color: #b4b4b4;
					background-color: #fff;
				}
			}
		}
		h5{
			font-weight: bold;
			font-size: 24px;
			max-width: 480px;
			margin: 0 auto 32px;
		}
	}
}
.endcta{
	max-width: 1030px;
	padding: 0 15px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 120px;
	.text,
	.img{
		width: 49%;
	}
	.img{
		img{
			@extend .fullwidthimg;
			max-width: 395px;
		}
	}
	.text{
		padding-top: 50px;
		h4{
			font-size: 36px;
			line-height: 48px;
			margin-bottom: 15px;
		}
		p{
			margin-bottom: 25px;
		}
	}
	.btn{
		padding: 18px 10px;
		font-size: 13px;
		box-sizing: border-box;
		min-width: 322px;
		text-align: center;
	}
}
.js-progressbar{
	height: 3px;
	background: #00d5c4;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	z-index: 1;
	display: none;
	.headroom--not-top &{
		display: block;
	}
}
#fader{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	z-index: 140;
}
.howitworks-popup{
	color: #777;
	text-align: center;
	position: fixed;
	z-index: -1;
	left: -9999px;
	top: -9999px;
	opacity: 0;
	background: #fff;
	border-radius:10px;
	padding: 40px 100px 50px;
	max-width: 1300px;
	width: 95%;
	box-sizing: border-box;
	@include animation;
	&.js-visible{
		opacity: 1;
		z-index: 150;
	}
	.close{
		position: absolute;
		right:20px;
		top: 20px;
		cursor: pointer;
		.fa{
			font-size: 32px;
			color: #2f305d;
		}
	}
	h4{
		font-size: 36px;
		margin-bottom: 80px;
	}
	ul{
		display: flex;
		margin: 0 -30px;
		justify-content: space-between;
	}
	li{
		padding: 0 30px 36px;
		width: calc(100% / 4);
		box-sizing: border-box;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			right: -20px;
			top: 30%;
			background:url(../images/ico-arrow-popup.png) no-repeat;
			width:38px;
			height:17px;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	.img{
		display: block;
		margin-bottom: 16px;
		img{
			@extend .fullwidthimg;
		}
	}
	h5{
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 6px;
	}
	.btn{
		display: inline-block;
		padding-top: 18px;
		padding-bottom: 18px;
		font-size: 13px;
	}
}
.nextsteps{
	text-align: center;
	margin-bottom: 180px;
	h3{
		margin-bottom: 60px;
	}
	ul{
		display: flex;
	}
	li{
		width: calc(100% / 3);
		padding: 0 20px 20px;
		box-sizing: border-box;
		position: relative;
		&:after{
			content: '';
			background:url(../images/ico-arrow-steps.png) no-repeat 100% 0;
			width:152px;
			height:18px;
			position: absolute;
			right: -70px;
			top: 80px;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
	}
	.title{
		display: block;
		color: #313362;
		font-size: 18px;
	}
	.ico{
		background: rgb(242,245,247);
		background: -moz-linear-gradient(top, rgba(242,245,247,1) 0%, rgba(251,252,252,1) 100%);
		background: -webkit-linear-gradient(top, rgba(242,245,247,1) 0%,rgba(251,252,252,1) 100%);
		background: linear-gradient(to bottom, rgba(242,245,247,1) 0%,rgba(251,252,252,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f7', endColorstr='#fbfcfc',GradientType=0 );
		width: 181px;
		height: 181px;
		border-radius: 50%;
		display: flex;
		margin: 0 auto 45px;
		align-items: center;
		justify-content: center;
	}
}
.blogpage{
	background-position: 50% -210px;
	.trendingarticles{
		margin-bottom: 55px;
	}
	.hero-inner{
		height: 310px;
		padding-top: 20px;
	}
	#container{
		background: none;
		padding-bottom: 0;
	}
}
.filters{
	text-align: center;
	padding-bottom: 50px;
	li{
		display: inline-block;
		margin: 0 15px 5px 12px;
		&:first-child{margin-left: 0;}
		&:last-child{margin-right: 0;}
	}
	a{
		color: #333;
		&:hover{
			color: #313362;
		}
	}
	.active{
		a{
			color: #313362;
		}
		border-bottom: 5px solid #313362;
	}
}
.pagination{
	text-align: center;
	line-height: 25px;
	margin-bottom: 30px;
	font-size: 16px;
	li{
		display: inline-block;
		margin: 0 7px 0 5px;
	}
	a{
		color: #333;
		display: block;
		min-width: 25px;
		box-sizing: border-box;
		padding: 0 3px;
		@include animation;
		&:hover{
			background: #efefef;
		}
	}
	.active{
		font-weight: 500;
		a{
			color: #fff;
			background: #313362;
		}
	}
}
.posts{
	background:url(../images/bg-arrow-b.png) repeat-x 50% 100%;
	overflow: hidden;
	padding-bottom: 75px;
	margin-bottom: 60px;
}
.page404{
	background: #f5f7fa url(../images/bg-quizpage.png) no-repeat 50% 0;
	#container{
		background: none;
	}
	.hero{
		padding-bottom: 30px;
		h1{
			text-indent: -9999px;
			background-image: url(../images/bg-404.png);
			width: 607px;
			height: 227px;
			margin: 0 auto 30px;
		}
		p{
			margin-bottom: 0;
			a{
				color: #00d5c4;
				&:hover{
					color: #313362;
				}
			}
		}
	}
}
.endcta-block{
	background: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,.2);
	padding: 60px 80px;
	box-sizing: border-box;
	max-width: 100%;
}
.blogpost-page{
	@extend .guide-overview;
	background: #fff url(../images/bg-innerpage.png) no-repeat 50% 0;
	.hero-holder,
	.hero-i,
	.hero{
		background: none;
	}
	.hero{
		h1{
			color: #313362;
			font-size: 64px;
			max-width: 900px;
			margin: 0 auto 20px;
		}
		.person{
			bottom: -7px;
		}
		.cashoffer{
			bottom: 170px;
		}
	}
	#header.headroom--top{
		a{
			color: #313362;
			&:hover{
				color: $linkcolorhover;
			}
		}
		.nav-holder{
			.btn{
				border-color: #313362;
				&:hover{
					color: #fff;
				}
			}
		}
		.logo{
			background-image: url(../images/logo.png);
			width: 191px;
			height: 41px;
		}
	}
	.guide-content{
		.wrapper{
			padding-bottom: 50px;
		}
	}
	.trendingarticles .box:first-child,
	.trendingarticles .box:nth-child(2){
		width: 31%;
		.img{
			height: 265px;
			padding-top: 20px;
			img{
				height: auto;
			}
		}
	}
	#container{
		background: none;
	}
}
.post-author{
	text-align: center;
	font-size: 14px;
	margin: -70px 0 65px;
	.photo{
		display: block;
		img{
			display: inline-block;
			border-radius: 50%;
		}
	}
	.name{
		display: block;
		font-weight: normal;
	}
	.date{
		display: block;
		color: #333;
		font-style: normal;
	}
}
.quiz-holder{
	background: #fff;
	box-shadow:0 0 7px rgba(0,0,0,.1);
	border-radius: 10px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	text-align: center;
	h2{
		font-size: 32px;
		margin-bottom: 20px;
	}
}
.quiz-page{
	background: #f5f7fa url(../images/bg-quizpage.png) no-repeat 50% 0;
	#container{
		background: none;
		padding-top: 170px;
	}
}
.contact-person{
	position: relative;
	top: -72px;
	@extend .post-author;
	margin: 0 0 -56px;
	color: #313362;
	line-height: normal;
	font-size: 16px;
	.name{
		font-weight: bold;
		margin: 0;
	}
	em{
		display: block;
		font-style: normal;
	}
	.photo{
		margin-bottom: 12px;
		img{
			border: 2px solid #fff;
		}
	}
}
.quiz-inner{
	width: 99999px;
	overflow: hidden;
	@include animation;
}
.quiz-step{
	margin: 0;
	opacity: 0;
	padding-left: 50px;
	padding-right: 50px;
	box-sizing: border-box;
	float: left;
	@include animation;
	&.js-active{
		position: relative;
		z-index: 10;
		opacity: 1;
	}
	&.js-completed{
		z-index: auto;
		opacity: 0;
	}
}
.address-form{
	padding-top: 80px;
	text-align: left;
	max-width: 420px;
	margin: 0 auto;
	padding-bottom: 70px;
	.field{
		margin: 0 0 30px;
	}
	.fields3{
		display: flex;
		justify-content: space-between;
		.field{
			width: 86px;
			&:first-child{
				width: 164px;
			}
		}
	}
	label{
		text-transform: uppercase;
		cursor: pointer;
		font-weight: bold;
		font-size: 12px;
		color: #2f305d;
	}
	.txt{
		display: block;
		border: none;
		background: none;
		border-bottom: 2px solid #f2f2f2;
		width: 100%;
		box-sizing: border-box;
		font-weight: 400;
		color: #333;
		font-size: 18px;
		padding: 11px 0;
		line-height: 22px;
		font-style: normal;
		&:focus{
			border-color: #999;
		}
		&:invalid{
			box-shadow: none;
		}
		&.js-error{
			border-color: red;
			& + .js-error-text{
				display: block;
			}
		}
	}
}
.quiz-btns{
	font-size: 13px;
	margin-left: -55px;
	.btn{
		font-size: 13px;
		padding-top: 20px;
		padding-bottom: 20px;
		letter-spacing: 2px;
		min-width: 222px;
		box-sizing: border-box;
		.quiz-step[data-attr="1"] &{
			margin-left: 55px;
		}
	}
	.btn-holder{
		display: inline-block;
		position: relative;
		margin-left: 19px;
	}
	.disabled{
		position: relative;
		// &:after{
		// 	content: '';
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	right: 0;
		// 	bottom: 0;
		// }
		.btn{
			background: #dcdee1;
			border-color:#dcdee1;
			cursor: default;
			&:hover{
				color: #fff;
			}
		}
	}
	.back{
		text-transform: uppercase;
		font-weight: bold;
		color: #999;
		&:hover{
			color: #333;
		}
	}
}
.quiz-progressbar{
	em{
		display: block;
		color: #85929e;
		font-size: 16px;
		margin-bottom: 6px;
		.number{
			display: inline-block;
			&:before{
				content: '1';
				display: inline-block;
			}
		}
	}
	.bar{
		display: block;
		background: #dcdee1;
		border-radius: 20px;
		span{
			display: block;
			height: 10px;
			border-radius: 20px;
			background: #795cb8;
			width: calc(100% / 8);
		}
	}
	@for $i from 2 through $steps_count{
		&[data-attr="#{$i}"]{
			.number{
				&:before{
					content: '#{$i}';
				}
			}
			.bar{
				span{
					width:calc(1 / #{$steps_count} * 100% * #{$i});
				}
			}
		}
	}
	&[data-attr="9"]{
		.number{
			&:before{
				content: '8';
			}
		}
	}
}
.quiz-content{
	position: relative;
	overflow: hidden;
	.boxes-holder{
		display: flex;
		margin: 0 -10px;
		justify-content: center;
	}
	.box{
		border: 1px solid #dee3e8;
		border-radius: 10px;
		margin: 0 10px 10px;
		width: calc(100% / 4 - 20px);
		padding: 38px 10px 30px;
		box-sizing: border-box;
		cursor: pointer;
		&.js-active,
		&:hover{
			border-color: #00d5c4;
			background-color: #eefffe;
			span[class^='ico']{
				background-position: -200px 0;
				&.ico-upsizing{
					background-position: -200px -100px;
				}
				&.ico-downsizing{
					background-position: -200px -200px;
				}
				&.ico-finances{
					background-position: -200px -300px;
				}
				&.ico-yes{
					background-position: -200px -800px;
				}
				&.ico-no{
					background-position: -200px -900px;
				}
				&.ico-excellent{
					background-position: -600px 0;
				}
				&.ico-good{
					background-position: -600px -100px;
				}
				&.ico-average{
					background-position: -600px -200px;
				}
				&.ico-poor{
					background-position: -600px -300px;
				}
				&.ico-planned{
					background-position: -600px -400px;
				}
				&.ico-planning{
					background-position: -600px -500px;
				}
				&.ico-figure{
					background-position: -600px -600px;
				}
			}
		}
	}
	h5,
	h4{
		font-weight: normal;
		font-size: 24px;
		margin: 0 0 8px;
	}
	h5{
		font-weight: 300;
		font-size: 18px;
		font-style: italic;
		margin: 0;
	}
	span[class^='ico']{
		display: block;
		height: 100px;
		width: 122px;
		background:url(../images/icos-quiz.png) no-repeat;
		margin: 0 auto 12px;
		&.ico-relocating{
			width: 147px;
		}
		&.ico-upsizing{
			background-position: 0 -100px;
		}
		&.ico-downsizing{
			background-position: 0 -200px;
		}
		&.ico-finances{
			background-position: 0 -300px;
		}
		&.ico-yes{
			background-position: 0 -800px;
		}
		&.ico-no{
			background-position: 0 -900px;
		}
		&.ico-excellent{
			background-position: -400px 0;
		}
		&.ico-good{
			background-position: -400px -100px;
		}
		&.ico-average{
			background-position: -400px -200px;
			height: 73px;
			margin-top: 27px;
		}
		&.ico-poor{
			background-position: -400px -300px;
			height: 73px;
			margin-top: 27px;
		}
		&.ico-planned{
			background-position: -400px -400px;
		}
		&.ico-planning{
			background-position: -400px -500px;
		}
		&.ico-figure{
			background-position: -400px -600px;
		}
		&.ico-asap{
			background-position: 0 -400px;
		}
		&.ico-soon{
			background-position: 0 -600px;
		}
		&.ico-nearfuture{
			background-position: 0 -800px;
		}
		&.ico-norush{
			background-position: 0 -1000px;
		}
		&.ico-introvert{
			background-position: -200px -500px;
		}
		&.ico-middle{
			background-position: -200px -600px;
		}
		&.ico-extrovert{
			background-position: -200px -700px;
		}
		&.ico-plan5,
		&.ico-plan4,
		&.ico-plan3,
		&.ico-plan2,
		&.ico-plan1{
			background:url(../images/icos-quiz8.png) no-repeat;
			height: 140px;
			width: 229px;
		}
		&.ico-plan2{
			background-position: 0 -140px;
		}
		&.ico-plan3{
			background-position: 0 -280px;
		}
		&.ico-plan4{
			background-position: 0 -420px;
		}
		&.ico-plan5{
			background-position: 0 -600px;
		}
	}
}
.selling-reasons{
	padding-top: 10px;
	overflow: hidden;
	margin-bottom: 38px;
	h3{
		font-weight: 400;
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 24px;
	}
	.quiz-step[data-attr="7"] &,
	.quiz-step[data-attr="4"] &{
		padding-top: 54px;
		.box{
			padding-top: 49px;
		}
	}
	.quiz-step[data-attr="7"] &{
		h4{
			font-size: 18px;
		}
	}
}
.question{
	display: inline-block;
	position: relative;
	width: 42px;
	height: 42px;
	background:url(../images/ico-question.png) no-repeat;
	vertical-align: top;
	margin-left: 14px;
	margin-top: -4px;
	cursor: pointer;
	span{
		opacity: 0;
		position: absolute;
		cursor: default;
		left: -20px;
		top: 56px;
		background: #fff;
		font-weight: 300;
		font-style: italic;
		text-align: center;
		padding: 18px 18px 16px;
		font-size: 16px;
		line-height: 24px;
		width: 270px;
		box-shadow: 0 0 11px rgba(0,0,0,.18);
		border-radius: 8px;
		@include animation;
		z-index: -1;
		&:after{
			content: '';
			position: absolute;
			left: 28px;
			top: -14px;
			width: 26px;
			height: 14px;
			background:url(../images/ico-pointer.png) no-repeat;
		}
	}
	&:hover{
		background-position: 0 -42px;
		span{
			opacity: 1;
			z-index: 1;
		}
	}
}
.quiz-step[data-attr="9"]{
	.content{
		padding-top: 55px;
		padding-bottom: 60px;
		h3{
			font-style: italic;
			font-weight: 300;
			font-size: 24px;
		}
	}
	.img-holder{
		display: block;
		margin-bottom: 45px;
	}
}
.Slider-track{
	background: #ddd;
	border-radius: 5px;
	height: 7px;
	z-index: auto;
}
.Slider-handle{
	background: #fff;
	box-shadow: 0 2px 9px rgba(0,0,0,.15);
	width: 30px;
	height: 30px;
	z-index: 3;
	right: -15px;
}
.Slider-indicator{
	display: none;
}
.Slider-distance{
	border-radius: 5px 0 0 5px;
	background: #00d5c4;
}
.Slider-steps{
	top: -7px;
	height: 7px;
	z-index: 1;
	&:after,
	&:before{
		color: #313362;
		font-size: 14px;
		position: absolute;
		left: -50%;
		bottom: 26px;
		line-height: normal;
		white-space: nowrap;
	}
}
.Slider-fraction{
	height: 7px;
	background: rgba(151,151,151,.5);
	&:before{
		color: #313362;
		font-size: 14px;
		position: absolute;
		left: -50%;
		bottom: 26px;
		line-height: normal;
		white-space: nowrap;
	}
}
.Slider{
	width: auto;
	display: block;
	max-width: 575px;
	margin: 0 auto 35px;
	height: auto;
}
#howsoon{
	.Slider-steps{
		&:before{
			content: 'ASAP';
			left: -19px;
		}
		&:after{
			content: 'No Rush';
			right: -27px;
			left: auto;
		}
	}
	.Slider-fraction:nth-child(2){
		&:before{
			content: 'Soon';
			left: -19px;
		}
	}
	.Slider-fraction:nth-child(1){
		&:before{
			content: 'Near Future';
			left: -39px;
		}
	}
}
#person-type{
	.Slider-steps{
		&:before{
			content: 'Introvert';
			left: -28px;
		}
		&:after{
			content: 'Extrovert';
			right: -29px;
			left: auto;
		}
	}
	.Slider-fraction:nth-child(1){
		&:before{
			content: 'Middle';
			left: -20px;
		}
	}
}
#plans-content{
	.Slider-steps{
		&:before{
			content: 'Make the most money';
			left: 0;
		}
		&:after{
			content: 'I need to sell quickly';
			right: 0;
			left: auto;
		}
	}
}
.slider-content{
	padding-top: 35px;
	padding-bottom: 40px;
	h3{
		font-weight: 400;
		font-size: 24px;
		margin: 0;
	}
	em{
		font-size: 18px;
		color: #313362;
	}
	.holder{
		display: none;
	}
	.js-active{
		display: block;
	}
	span[class^="ico"]{
		margin-bottom: 10px;
	}
}
@import "responsive";