$fonts: Rubik,Arial,sans-serif;
$bodycolor: #777;
$linkcolor: #06d7c6;
$linkcolorhover: #0db3a6;

$darklinkcolor: #313362;
$darklinkcolorhover: #604794;
$steps_count: 9;

$fonts-path: "../fonts" !default;
$divider: 18.461538462;
@mixin animation($cssrule: all, $delay:.25s, $effect:ease-in-out) {
  transition: $cssrule $delay $effect;
}
@mixin borderradius($rad: 5px) {
  border-radius: $rad;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}
